extends ../layout

block content

    div.largePaddingBottom
        if licence.licenceConditions && licence.licenceConditions.length > 0
            include ../licenceDetails/additionalConditions

        else
            h2.heading-medium You have not selected any conditions.

    a#addAnother.button.button-secondary.largeMarginBottom(href="/hdc/licenceConditions/additional/" + nomisId role="button") Add another condition

    div.paddingBottom.smallPaddingTop
        div.pure-u-1.inlineButtons
            a#continueBtn.requiredButton.button(href=nextPath.path + nomisId role="button") Save and continue
            a#editLink.smallMarginTop(href="/hdc/taskList/" + nomisId role="button") Back to tasklist
