- var formItem = condition.USER_INPUT.value

    div.form-group
        if formItem === 'appointmentName'
            include ./formItems/appointmentName

        if formItem === 'mentalHealthName'
            include ./formItems/mentalHealthName

        if formItem === 'appointmentDetails'
            include ./formItems/appointmentDetails

        if formItem === 'victimDetails'
            include ./formItems/victimDetails

        if formItem === 'noUnsupervisedContact'
            include ./formItems/noUnsupervisedContact

        if formItem === 'noContactOffenders'
            include ./formItems/noContactOffenders

        if formItem === 'groupsOrOrganisations'
            include ./formItems/groupsOrOrganisations

        if formItem === 'courseOrCentre'
            include ./formItems/courseOrCentre

        if formItem === 'noWorkWithAge'
            include ./formItems/noWorkWithAge

        if formItem === 'noSpecificItems'
            include ./formItems/noSpecificItems

        if formItem === 'noCurrencyQuantity'
            include ./formItems/noCurrencyQuantity

        if formItem === 'vehicleDetails'
            include ./formItems/vehicleDetails

        if formItem === 'intimateGender'
            include ./formItems/intimateGender

        if formItem === 'confinedDetails'
            include ./formItems/confinedDetails

        if formItem === 'curfewDetails'
            include ./formItems/curfewDetails

        if formItem === 'exclusionArea'
            include ./formItems/exclusionArea

        if formItem === 'noEnterPlace'
            include ./formItems/noEnterPlace

        if formItem === 'notInSightOf'
            include ./formItems/notInSightOf

        if formItem === 'reportingDetails'
            include ./formItems/reportingDetails

        if formItem === 'alcoholLimit'
            include ./formItems/alcoholLimit


