extends ../layout

block content

    h1.heading-large Additional conditions

    div#conditionsInstructions.grid-row.paddingBottom.largeMarginBottom
        div.column-two-thirds
            p If the offender requires additional conditions adding to their licence select them below.
            span.block
                a(href="#") View the seven standard conditions

        div.column-one-third
            a.button.button-secondary(href="/licenceDetails/"+licenceId role="button") No additional conditions required


    div#continueBtns.inlineButtons

        a.requiredButton.button(href="/licenceDetails/"+licenceId role="button") Continue
        a.requiredButton.button.button-secondary(href="/dashboard" role="button") Back to dashboard
