extends ../layout

block content

    h1.heading-large Additional conditions

    div#conditionsInstructions.grid-row.paddingBottom.largeMarginBottom
        div.column-two-thirds
            div.paddingBottom.borderBottom.midMarginBottom
                p If the offender requires additional conditions adding to their licence select them below.
                span.block.smallPaddingBottom
                    a(href="./standard/"+nomisId) View the seven standard conditions

                a.button.button-secondary(href="/reporting/"+nomisId role="button") No additional conditions required

            for condition in conditions
                div.multiple-choice.conditionSelector.column-full
                    div
                        input(type="checkbox" id="check-"+condition.ID.value value=condition.ID.value name="additionalConditions")
                        label(for="check-"+condition.ID.value) #{condition.TEXT.value}

    div#continueBtns.inlineButtons

        a.requiredButton.button(href="/reporting/"+nomisId role="button") Continue
        a.requiredButton.button.button-secondary(href="/" role="button") Back to dashboard
