extends ../layout

block content

    div.pure-g.pure-u-1
        include ../includes/backToCaseList

        div.pure-u-1-2
            h2.heading-large.midPaddingBottom Search for an offender

        include includes/searchErrors
        include includes/offenderSearchForm


