extends ../../layout
include warningsTable

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/admin/") Back

  div.pure-g
    div.pure-u-1.searchLink.alignRight.smallPaddingTop
      a#addUserLink(href='/admin/warnings/acknowledged') View acknowledged

  form(method='post' action='/admin/warnings/acknowledge')
    input(type="hidden" name="_csrf" value=csrfToken)
    div.pure-u-1
      h2.heading-medium #{heading}
      +showWarningsTable(true)

    div.pure-u-1.alignRight
      input.requiredButton.button(type="submit" value="Acknowledge")
