extends ../formTemplates/formTemplate

block question
  | Curfew address

block formItems
  div.pure-u-1.pure-u-md-1-2
    div.pure-g
      div.pure-u-1.pure-u-md-4-5
        include includes/varyCurfewAddressForm
