div.pure-g
  div.pure-u-1.multiple-choice
    input(id='allow_visit_mental' type='radio' name='allow_visit_with' value='a mental health worker' checked=condition.user_submission && condition.user_submission.allow_visit_with === 'a mental health worker')
    label(for='allow_visit_mental') a mental health worker

  div.pure-u-1.multiple-choice
    input(id='allow_visit_medical' type='radio' name='allow_visit_with' value='a medical practitioner ' checked=condition.user_submission && condition.user_submission.allow_visit_with === 'a medical practitioner ')
    label(for='allow_visit_medical') a medical practitioner

  div.pure-u-1.multiple-choice
    input(id='allow_visit_social' type='radio' name='allow_visit_with' value='a leaving care social worker' checked=condition.user_submission && condition.user_submission.allow_visit_with === 'a leaving care social worker')
    label(for='allow_visit_social') a leaving care social worker

  div.pure-u-1.multiple-choice
    input(id='allow_visit_childrens' type='radio' name='allow_visit_with' value='children’s services' checked=condition.user_submission && condition.user_submission.allow_visit_with === 'children’s services')
    label(for='allow_visit_childrens') children’s services
