div.pure-g.paddingBottom
  div.pure-u-3-4
    label(for='appointmentName') Name
    input(type='text' name='appointmentName' id='appointmentName' class='form-control' value=condition.user_submission && condition.user_submission.appointmentName aria-label="Name of psychiatrist, psychologist or medical practitioner")


div.inline
  div.multiple-choice
    input(id='psychiatrist' type='radio' name='appointmentProfession' value='psychiatrist' checked=condition.user_submission && condition.user_submission.appointmentProfession === 'psychiatrist')
    label(for='psychiatrist') Psychiatrist

  div.multiple-choice
    input(id='psychologist' type='radio' name='appointmentProfession' value='psychologist' checked=condition.user_submission && condition.user_submission.appointmentProfession === 'psychologist')
    label(for='psychologist') Psychologist

  div.multiple-choice
    input(id='medicalPractitioner' type='radio' name='appointmentProfession' value='medical practitioner' checked=condition.user_submission && condition.user_submission.appointmentProfession === 'medical practitioner')
    label(for='medicalPractitioner') Medical practitioner
