div.pure-g
  div.pure-u-1.inline
    div.multiple-choice
      input(id='do_not_access_download_access' type='radio' name='do_not_access_download_type' value='access' checked=condition.user_submission && condition.user_submission.do_not_access_download_type === 'access')
      label(for='do_not_access_download_access') Access

    div.multiple-choice
      input(id='do_not_access_download_dl' type='radio' name='do_not_access_download_type' value='download' checked=condition.user_submission && condition.user_submission.do_not_access_download_type === 'download')
      label(for='do_not_access_download_dl') Download

    div.multiple-choice
      input(id='do_not_access_download_adl' type='radio' name='do_not_access_download_type' value='access or download' checked=condition.user_submission && condition.user_submission.do_not_access_download_type === 'access or download')
      label(for='do_not_access_download_adl') Access or download

div.pure-g
  div.pure-u-1
    label(for='do_not_access_download_target') Website or apps / types of websites or apps
    textarea(name='do_not_access_download_target' id='do_not_access_download_target' class='form-control' rows='4')
      if condition.user_submission && condition.user_submission.do_not_access_download_target
        | #{condition.user_submission.do_not_access_download_target}
