div
  label(for='do_not_have_more_money_amount') Amount
  input(type='text' name='do_not_have_more_money_amount' id='do_not_have_more_money_amount' class='form-control' value=condition.user_submission && condition.user_submission.do_not_have_more_money_amount aria-label="Give the amount of money")
