div
  label(for='do_not_own_item') Item
  input(type='text' name='do_not_own_item' id='do_not_own_item' class='form-control' value=condition.user_submission && condition.user_submission.do_not_own_item aria-label="Name of item")
