-var assocValue = 'anyone associated (now or in the past) with'

div.pure-g
  div.pure-u-1.multiple-choice
    input(id='do_not_meet_associated' name='do_not_meet_associated' type='checkbox' value=assocValue checked=condition.user_submission && condition.user_submission.do_not_meet_associated === assocValue )
    label(for='do_not_meet_associated') Anyone associated with

  div.pure-u-1
    label(for='do_not_meet_name') Name of person, group or organisation
    input(type='text' name='do_not_meet_name' id='do_not_meet_name' class='form-control' value=condition.user_submission && condition.user_submission.do_not_meet_name aria-label="Name of person, group or organisation")
