div
  label(for='do_not_in_sight_of_type') Type of location
  input(type='text' name='do_not_in_sight_of_type' id='do_not_in_sight_of_type' class='form-control' value=condition.user_submission && condition.user_submission.do_not_in_sight_of_type aria-label="Enter the type of location")
