div.pure-g
  div.pure-u-1
    label(for='drug_testing_name') Name
      input(type='text' name='drug_testing_name' id='drug_testing_name' class='form-control' value=condition.user_submission && condition.user_submission.drug_testing_name aria-label="Appointment name")
  div.pure-u-1
    label(for='drug_testing_address') Address
      textarea(name='drug_testing_address' id='drug_testing_address' class='form-control' rows='2' aria-label="Appointment address")
        if condition.user_submission && condition.user_submission.drug_testing_address
          | #{condition.user_submission.drug_testing_address}
