label(for='conditionTypes') Enter types of conditions to be monitored
textarea(name='conditionTypes' id='conditionTypes' class='form-control' rows='7' aria-label="Enter types of conditions to be monitored")
  if condition.user_submission && condition.user_submission.conditionTypes
    | #{condition.user_submission.conditionTypes}
