- var formItem = condition.user_input

div.form-group
  if formItem === 'appointmentName'
    include appointmentName
  if formItem === 'mentalHealthName'
    include mentalHealthName

  if formItem === 'appointmentDetails'
    include appointmentDetails

  if formItem === 'attendSampleDetails'
    include attendSampleDetails

  if formItem === 'victimDetails'
    include victimDetails

  if formItem === 'noUnsupervisedContact'
    include noUnsupervisedContact

  if formItem === 'noContactOffenders'
    include noContactOffenders

  if formItem === 'groupsOrOrganisations'
    include groupsOrOrganisations

  if formItem === 'courseOrCentre'
    include courseOrCentre

  if formItem === 'noWorkWithAge'
    include noWorkWithAge

  if formItem === 'noSpecificItems'
    include noSpecificItems

  if formItem === 'noCurrencyQuantity'
    include noCurrencyQuantity

  if formItem === 'vehicleDetails'
    include vehicleDetails

  if formItem === 'intimateGender'
    include intimateGender

  if formItem === 'confinedDetails'
    include confinedDetails

  if formItem === 'curfewDetails'
    include curfewDetails

  if formItem === 'exclusionArea'
    include exclusionArea

  if formItem === 'noEnterPlace'
    include noEnterPlace

  if formItem === 'notInSightOf'
    include notInSightOf

  if formItem === 'reportingDetails'
    include reportingDetails

  if formItem === 'alcoholLimit'
    include alcoholLimit

  if formItem === 'notToReside'
    include notToReside
