- var formItem = condition.user_input

div.form-group
  if formItem === 'appointmentName'
    include appointmentName
  if formItem === 'mentalHealthName'
    include mentalHealthName

  if formItem === 'appointmentDetails'
    include appointmentDetails

  if formItem === 'attendSampleDetails'
    include attendSampleDetails

  if formItem === 'victimDetails'
    include victimDetails

  if formItem === 'noUnsupervisedContact'
    include noUnsupervisedContact

  if formItem === 'noContactOffenders'
    include noContactOffenders

  if formItem === 'groupsOrOrganisations'
    include groupsOrOrganisations

  if formItem === 'courseOrCentre'
    include courseOrCentre

  if formItem === 'noWorkWithAge'
    include noWorkWithAge

  if formItem === 'noSpecificItems'
    include noSpecificItems

  if formItem === 'noCurrencyQuantity'
    include noCurrencyQuantity

  if formItem === 'vehicleDetails'
    include vehicleDetails

  if formItem === 'intimateGender'
    include intimateGender

  if formItem === 'confinedDetails'
    include confinedDetails

  if formItem === 'curfewDetails'
    include curfewDetails

  if formItem === 'exclusionArea'
    include exclusionArea

  if formItem === 'noEnterPlace'
    include noEnterPlace

  if formItem === 'notInSightOf'
    include notInSightOf

  if formItem === 'reportingDetails'
    include reportingDetails

  if formItem === 'alcoholLimit'
    include alcoholLimit

  if formItem === 'notToReside'
    include notToReside

  // 2019 conditions
  if formItem === 'do_not_meet'
    include do_not_meet

  if formItem === 'tell_probation_about_relationship'
    include tell_probation_about_relationship

  if formItem === 'do_not_live_or_stay'
    include do_not_live_or_stay

  if formItem === 'do_not_have_unsupervised_contact'
    include do_not_have_unsupervised_contact

  if formItem === 'do_not_in_sight_of'
    include do_not_in_sight_of

  if formItem === 'do_not_work_or_activity'
    include do_not_work_or_activity

  if formItem === 'do_not_contact_victim'
    include do_not_contact_victim

  if formItem === 'follow_rehabilitation_instructions'
    include follow_rehabilitation_instructions

  if formItem === 'give_sample'
    include give_sample

  if formItem === 'go_to_appointments'
    include go_to_appointments

  if formItem === 'allow_visit'
    include allow_visit

  if formItem === 'stay_at_address'
    include stay_at_address

  if formItem === 'police_take_to'
    include police_take_to

  if formItem === 'tell_probation_document'
    include tell_probation_document

  if formItem === 'do_not_go_premises'
    include do_not_go_premises

  if formItem === 'stay_at_night'
    include stay_at_night

  if formItem === 'only_use_internet_at'
    include only_use_internet_at

  if formItem === 'do_not_access_download'
    include do_not_access_download

  if formItem === 'do_not_own_item'
    include do_not_own_item

  if formItem === 'tell_about_animal'
    include tell_about_animal
