div.pure-g
  div.pure-u-1.multiple-choice
    input(id='go_to_appointments_with_mental' type='radio' name='go_to_appointments_with' value='a mental health worker' checked=condition.user_submission && condition.user_submission.go_to_appointments_with === 'a mental health worker')
    label(for='go_to_appointments_with_mental') a mental health worker

  div.pure-u-1.multiple-choice
    input(id='go_to_appointments_with_medical' type='radio' name='go_to_appointments_with' value='a medical practitioner ' checked=condition.user_submission && condition.user_submission.go_to_appointments_with === 'a medical practitioner ')
    label(for='go_to_appointments_with_medical') a medical practitioner

  div.pure-u-1.multiple-choice
    input(id='go_to_appointments_with_social' type='radio' name='go_to_appointments_with' value='a leaving care social worker' checked=condition.user_submission && condition.user_submission.go_to_appointments_with === 'a leaving care social worker')
    label(for='go_to_appointments_with_social') a leaving care social worker

  div.pure-u-1.multiple-choice
    input(id='go_to_appointments_with_childrens' type='radio' name='go_to_appointments_with' value='children’s services' checked=condition.user_submission && condition.user_submission.go_to_appointments_with === 'children’s services')
    label(for='go_to_appointments_with_childrens') children’s services
