div.pure-g
  div.pure-u-3-4
    label(for='mentalHealthName') Name
    input(type='text' name='mentalHealthName' id='mentalHealthName' class='form-control' value=condition.user_submission && condition.user_submission.mentalHealthName aria-label="Name of mental health worker")
