label(for='noContactOffenders') Names of offenders/individuals
textarea(name='noContactOffenders' id='noContactOffenders' class='form-control' rows='4')
    if condition.USER_SUBMISSION && condition.USER_SUBMISSION.noContactOffenders
        |#{condition.USER_SUBMISSION.noContactOffenders}

