label(for='noContactOffenders') Names of offenders/individuals
textarea(name='noContactOffenders' id='noContactOffenders' class='form-control' rows='4')
    if condition.user_submission && condition.user_submission.noContactOffenders
        |#{condition.user_submission.noContactOffenders}

