div.inlineFormItem
    label(for='cashQuantity') Quantity
    input(type='number' name='cashQuantity' id='cashQuantity' class='form-control' value=condition.user_submission && condition.user_submission.cashQuantity)
