label(for='noEnterPlace') Name / type of premises / address / road
textarea(name='noEnterPlace' id='noEnterPlace' class='form-control' rows='2')
    if condition.user_submission && condition.user_submission.noEnterPlace
        | #{condition.user_submission.noEnterPlace}

