label(for='noSpecificItems') Items
textarea(name='noSpecificItems' id='noSpecificItems' class='form-control' rows='2')
  if condition.user_submission && condition.user_submission.noSpecificItems
    | #{condition.user_submission.noSpecificItems}
