label(for='notInSightOf') Restricted places
textarea(name='notInSightOf' id='notInSightOf' class='form-control' rows='2' aria-label="Restricted places")
    if condition.user_submission && condition.user_submission.notInSightOf
        | #{condition.user_submission.notInSightOf}
