div
  label(for='report_to_staff_at_location') Location
  input(type='text' name='report_to_staff_at_location' id='report_to_staff_at_location' class='form-control' value=condition.user_submission && condition.user_submission.report_to_staff_at_location aria-label="Location to report to")

div
  label(for='report_to_staff_at_time_and_day') Time and day
  input(type='text' name='report_to_staff_at_time_and_day' id='report_to_staff_at_time_and_day' class='form-control' value=condition.user_submission && condition.user_submission.report_to_staff_at_time_and_day aria-label="Time and day to report at")
