div.pure-g
  div.pure-u-3-4
    label(for='region') Region
    input(type='text' name='region' id='region' class='form-control' value=condition.user_submission && condition.user_submission.region aria-label="Region to reside in")
