div.pure-g
  div.pure-u-3-4
    label(for='specificItem') Specfied item
    input(type='text' name='specificItem' id='specificItem' class='form-control' value=condition.user_submission && condition.user_submission.specificItem aria-label="Specified item")
