div
  label(for='tell_about_animal') Type of animal
  input(type='text' name='tell_about_animal' id='tell_about_animal' class='form-control' value=condition.user_submission && condition.user_submission.tell_about_animal aria-label="Type of animal")
