div.inline
  div.multiple-choice
    input(id='radioWomen' type='radio' name='tell_probation_about_relationship_gender' value='Women' checked=condition.user_submission && condition.user_submission.tell_probation_about_relationship_gender === 'Women')
    label(for='radioWomen') Women

  div.multiple-choice
    input(id='radioMen' type='radio' name='tell_probation_about_relationship_gender' value='Men' checked=condition.user_submission && condition.user_submission.tell_probation_about_relationship_gender === 'Men')
    label(for='radioMen') Men

  div.multiple-choice
    input(id='radioWomenOrMen' type='radio' name='tell_probation_about_relationship_gender' value='Women or men' checked=condition.user_submission && condition.user_submission.tell_probation_about_relationship_gender === 'Women or men')
    label(for='radioWomenOrMen') Women or men
