label(for='vehicleDetails') Vehicle details
textarea(name='vehicleDetails' id='vehicleDetails' class='form-control' rows='2' aria-label="Vehicle details")
  if condition.user_submission && condition.user_submission.vehicleDetails
    | #{condition.user_submission.vehicleDetails}
