extends ../layout

block content
  div.pure-g

    div.pure-u-1.largeMarginTop
      h2.heading-medium Admin
      div
        a(href='/admin/roUsers') RO users
      div
        a(href='/admin/roUsers/incomplete') Incomplete RO users
      div
        a(href='/admin/mailboxes') Notification mailboxes
      div
        a(href='/admin/jobs') Batch jobs
      div
        a(href='/admin/delius') Delius API search
      div
        a(href='/admin/warnings/outstanding') View Warnings
      div
        a(href='/admin/locations/probation-areas') Probation areas
