extends ../layout

block content
  div.pure-g

    div.pure-u-1.largeMarginTop
      h2.heading-medium Admin
      div
        a(href='/admin/roUsers') RO users
      div
        a(href='/admin/mailboxes') Notification mailboxes

