extends ../layout

block content
  div.pure-g

    div.pure-u-1.largeMarginTop
      h2.heading-medium Admin
      div
        a(href='/admin/roUsers') RO users
      div
        a(href='/admin/mailboxes') Notification mailboxes
      div
        a(href='/admin/jobs') Batch jobs
      div
        a(href='/admin/delius') Delius API search
      div
        a(href='/admin/manage-roles') Manage delius roles
      div
        a(href='/admin/warnings/outstanding') View Warnings
      div
        a(href='/admin/locations/probation-areas') Manage locations
      div
        a(href='/admin/licenceSearch') Search for licence
      div
        a(href='/admin/functionalMailboxes/probationAreas') Manage functional mailboxes

      div.pure-u-1.sm-padTop55
        if showExitUrl
          a.link(href=exitUrl data-qa='exit-to-dps-link') Exit to Digital Prison Services
