div#reasonForDecisionSection.panel-border-narrow
  label(for='reasonForDecision') Reason for decision (optional)
  textarea(name='reasonForDecision' id='reasonForDecision' class='form-control' rows='15' aria-label="Reason for decision")

