block excludedForm

    - var vals = data.reason || ''

    div
        if errorObject.reason
            p.block.error-message Add a reason
        div.multiple-choice
            input(type='checkbox' name='reason' id='addressUnsuitable' value='addressUnsuitable' checked=vals.indexOf('addressUnsuitable') !== -1)
            label(for='addressUnsuitable') The address is unsuitable
        div.multiple-choice
            input(type='checkbox' name='reason' id='insufficientTime' value='insufficientTime' checked=vals.indexOf('insufficientTime') !== -1)
            label(for='insufficientTime') There is insufficient time (less than 4 weeks to conditional release date)

