services:
  licence-db:
    image: postgres
    networks:
      - hmpps
    container_name: licence-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_PASSWORD=licences
      - POSTGRES_USER=licences
      - POSTGRES_DB=licences

  licence-redis:
    image: 'bitnami/redis:5.0'
    networks:
      - hmpps
    container_name: licence-redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'

  gotenberg:
    image: thecodingmachine/gotenberg:6.4.3
    networks:
      - hmpps
    container_name: gotenberg
    restart: always
    ports:
      - '3001:3000'
    healthcheck:
      test: [ 'CMD', 'curl', '-f', 'http://localhost:3001/ping' ]

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - '9090:8080'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8080/auth/health']
    environment:
      SPRING_PROFILES_ACTIVE: dev,token-verification,nomis
      TOKENVERIFICATION_ENDPOINT_URL: "http://token-verification-api:8080"
      DELIUS_ENABLED: "false"
      NOMIS_ENDPOINT_URL: http://nomis-user-roles-api:8080

  nomis-user-roles-api:
    image: quay.io/hmpps/nomis-user-roles-api:latest
    networks:
      - hmpps
    container_name: nomis-user-roles-api
    depends_on: [ hmpps-auth ]
    ports:
      - "8102:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - API_BASE_URL_OAUTH=http://hmpps-auth:8080/auth

  token-verification-api:
    image: quay.io/hmpps/token-verification-api:latest
    networks:
      - hmpps
      - token-backend
    container_name: token-verification-api
    depends_on:
      - token-verification-api-db
      - hmpps-auth
    ports:
      - "8100:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      SPRING_PROFILES_ACTIVE: local-redis
      SPRING_DATA_REDIS_HOST: token-verification-api-db
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "http://hmpps-auth:8080/auth/.well-known/jwks.json"

  token-verification-api-db:
    image: redis
    networks:
      - token-backend
    container_name: token-verification-api-db
    restart: always
    ports:
      - '6379:6379'

networks:
  hmpps:
  token-backend:
    internal: true
