- var residentsToShow = data.residents &&  data.residents.length > 3 ? data.residents.length : 3
- var n = 0
div.largePaddingBottom
    h4.heading-small Other residents
    div.pure-g
        div.pure-u-sm-5-12 Name
        div.pure-u-sm-1-6.padLeftRight15 Age
        div.pure-u-sm-5-12 Relation to prisoner

    while n < residentsToShow
        div.pure-g.smallPaddingBottom
            div.pure-u-sm-5-12
                input.form-control(name="residents["+n+"][name]" value=data.residents && data.residents[n].name)
            div.pure-u-sm-1-6.padLeftRight15
                input.form-control(name="residents["+n+"][age]" value=data.residents && data.residents[n].age)
            div.pure-u-sm-5-12
                input.form-control(name="residents["+n+"][relation]" value=data.residents && data.residents[n].relation)
        - n++
