// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
@import "./header";
@import './layout';
@import './caselist';
@import './pagination';
@import './additionalConditions';
@import './tableSort';
@import './change-location';

.pure-g {
    font-family: "nta",Arial,sans-serif;
}

.pure-g [class *= "pure-u"] {
    font-family: "nta",Arial,sans-serif;
}

.front-end-control {
    display: none;
    visibility: hidden;
}

.js-enabled {
    .front-end-control {
        display: inline;
        display: initial;
        visibility: visible;
    }
}

#proposition-links li { color: $grey-4; }

.app-container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    min-height: 65vh;
}

.button.button-secondary {
    color: $black;
    background-color: $grey-3;
    min-width: 120px;
    text-align: center;
}

.button.button-disabled{
    color: $white;
    background-color: govuk-colour("green");
    min-width: 120px;
    text-align: center;
}

.hdc-footer-wrapper {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.l-box {
    padding-right: 15px;
    padding-left: 15px;
}

.content-pull {
    margin-right: -15px;
    margin-left: -15px;
}

.block {
    display: block;
}

.midMarginBottom {
    margin-bottom: 20px;
}

.largeMarginBottom {
    margin-bottom: 30px;
}

.smallMarginBottom {
    margin-bottom: 10px;
}

.smallMarginRight {
    margin-right: 10px;
}

.paddingBottom {
    padding-bottom: 30px;
}

.largePaddingBottom {
    padding-bottom: 50px;
}

.xlargePaddingTop {
    padding-top: 65px;
}

.smallPaddingBottom {
    padding-bottom: 10px;
}

.tinyPaddingBottom {
    padding-bottom: 5px;
}

.paddingTop {
    padding-top: 20px;
}

.smallPaddingTop {
    padding-top: 10px;
}

.smallMarginTop {
    margin-top: 10px;
}

.midMarginTop {
    margin-top: 20px;
}

.largeMarginTop {
    margin-top: 30px;
}

.smallPaddingTopBottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.taskListAction {
    margin-top: -5px;
    width: 66%;
}

.headerMargin {
  margin-top: 2.3em;
  margin-bottom: .83333em;
}

.negativeMarginTop30 {
    margin-top:-30px
}

@media only screen and (max-width:640px) {
    .taskListAction {margin: 0; width: 100%; margin-top: 20px};
    .change {padding-top: 2em};
    .hideMobile {display:none};
    .u-paddingTop {padding-top: 30px};
    .u-paddingBottom {padding-bottom: 30px;}
    .u-padRight10 {padding-right: 10px;}
    .u-padRightLeft10 {padding-right: 10px; padding-left: 10px}
    .u-padLeft10 {padding-left: 10px}
    .u-pad10 {padding: 10px}
    .change-details {margin: 1em 0}
}

@media only screen and (min-width:640px) {
    .sm-PadLeftRight15 {padding: 0 15px};
    .sm-smallPaddingBottom {padding-bottom: 10px};
    .sm-midPaddingBottom {padding-bottom: 20px};
    .sm-padRight30 {padding-right: 30px};
    .sm-padLeft30 {padding-left: 30px};
    .sm-padLeftRight30 {padding-right: 30px; padding-left: 30px};
    .hideNonMobile {display:none};
    .change-details {margin-top: 2.5em;}
    .taskListSingleLineItem .buttonContainer{margin-top: 2.3em;}
    .sm-padTop55 {padding-top: 55px};
    #sm-feedback {
        position: relative;
        top: 130px;
    }
    .sm-pad15 {padding: 15px};
}

.midPaddingTopBottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.midPaddingBottom {
    padding-bottom: 20px;
}

.borderBottom {
    border-bottom: solid $grey-1 2px;
}

.borderBottomLight {
    border-bottom: solid $grey-2 1px;
}

.borderBottomLightMedium {
    border-bottom: solid $grey-2 2px;
}

.borderBottomLightThick {
    border-bottom: solid $grey-2 3px;
}

.borderTop {
    border-top: solid $grey-1 2px;
}

.borderTopLight {
    border-top: solid $grey-2 2px;
}

.noMargin {
    margin: 0;
}

.separatorTitle {
    padding-top: 1.25em;
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 0px
}

.searchForm {
    background-color: $highlight-colour;
}

.subText {
    font-size: 80%;
}

.inlineButtons > a, .inlineButtons > form, .inlineButtons > input {
    margin-right: 15px;
    float: left;
}

.inlineList {
    li {
        display: inline-block;
    }
}

.boxPanel {
    border: solid $grey-1 2px;
    padding: 20px 0 0 0;
    margin-left: 15px;
}

.noLeftPaddingColumn {
    padding: 0px 15px 0px 0px;
}

.padLeftRight5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padLeftRight15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padLeftRight25 {
    padding-left: 25px;
    padding-right: 25px;
}

.padRight15 {
    padding-right: 15px;
}

.padRight30 {
    padding-right: 30px;
}

.padRight7 {
    padding-right: 7px;
}

.padLeft7 {
    padding-left: 7px;
}

.padLeft15 {
    padding-left: 15px;
}

.padLeft30 {
    padding-left: 30px;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.marginTopMedium {
    margin-top: 1em;
}

.marginBottomLarge {
    margin-bottom: 2em;
}

.numberedList {
    list-style-type: decimal;
    padding-left: 15px;
}

.confirm-banner {
    color: $white;
    background-color: $govuk-blue;
    padding: 1px 15px 15px;
    text-align: center;
    margin: 60px 0 30px 0;
}

td.spacer {
    min-width: 120px;
}

.center {
    text-align: center;
}

.fullWidth {
    width: 100%;
}

.l-box--no-left {
    padding-left: 0;
}

.hours-text {
    display: block;
    margin-top: 6px;
}

.capitalize {
    text-transform: capitalize;
}

.addResidentButton {
    width: 190px;

}

// Make a submit button look like a link
input.link {
    background:none;
    border:none;
    padding-left: 0px;
    color: $link-colour;
    text-align: left;
}

input.link:hover{
    color: $link-hover-colour;
}

.link {
    cursor: pointer;
}

// Move a named anchor up a bit so that linking to 'somepage#name' doesn't position up against the toolbar
p.namedAnchor {
    position:relative;
    margin: 0;
}

a.namedAnchor {
    position:absolute;
    top: -100px;
}

.addResidentButton {
    width: 190px;

}

// Case lists status markers
.terminalStateAlert, .error {
    font-weight: bold;
    color: $red;
}

.terminalStateWarn {
    font-weight: bold;
}

.alert {
    color: $red;
}

.button-start-height {
    line-height: 1.55em;
   // margin-left: 15px;
}

input[type="time"] {
    width: 90px
}

.maxWidth {
    max-width: 85%;
}

.error-banner {
    text-align: center;
    padding: 1em;
    border: solid 3px #E78E5F;
}
.highlighted-string {
    background-color: darkorange;
}

.forms-link {
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 15px;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;
}

%container-shared {
  box-sizing: border-box;
  padding: 1em;

  .notice strong {
    padding-left: 75px;
  }
}

.notice-container {
  @extend %container-shared;
  background-color: #FFF0D5;
}

.warning-container {
  @extend %container-shared;
  background-color: $mellow-red-25;
}

.default-text { color: $grey-1; font-style: italic; }

.feedback-banner-container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.feedback-banner {
  background: rgb(31,112,184);
  padding: 20px 30px;

  a {
    color: $white;
  }
}
