// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

a.button.button-secondary {
    color: $black;
    background-color: $grey-2;
    min-width: 120px;
    text-align: center;
}

.block {
    display: block;
}

.midMarginBottom {
    margin-bottom: 20px;
}

.largeMarginBottom {
    margin-bottom: 30px;
}

.paddingBottom {
    padding-bottom: 30px;
}

.smallPaddingBottom {
    padding-bottom: 10px;
}

.smallPaddingTop {
    padding-top: 10px;
}

.smallPaddingTopBottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.borderBottom {
    border-bottom: solid $grey-1 2px;
}

.borderBottomLight {
    border-bottom: solid $grey-2 1px;
}

.borderTop {
    border-top: solid $grey-1 2px;
}

.separatorTitle {
    padding-top: 1.875em;
    margin-top: 0;
}

.subText {
    font-size: 80%;
}

#continueBtns a{
    margin-right: 15px;
}

.inlineButtons > a, .inlineButtons > form, .inlineButtons > input {
    margin-right: 15px;
    float: left;
}

.boxPanel {
    border: solid $grey-1 2px;
    padding: 20px 0 0 0;
    margin-left: 15px;
}

input.small {
    max-width: 275px;
}
