#header {
    padding-top: 15px;
    padding-bottom : 15px;
    margin: 0 auto;
    background-color: #0b0c0c;

    a {
        color: white;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1170px;
        margin-right: 15px;
        margin-left: 15px;
    }

    @media (min-width: 40.0625em) {
        .header__container {
            margin: 0 auto;
        } 
    }
    
    .header__logo {
        margin-right: 10px;
        position: relative;
        top: -2px;
        fill: $white;
    }

    .header__title {
        padding-right: 15px;
        display: flex;
        align-items: center;
    }
    
    .header__title__organisation-name {
        margin-right: 10px;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    
    .header__title__service-name {
        display: none;
        font-size: 24px;
    
        @include media(desktop) {
            display: inline-block
        }
    }

    .header__link {
        color: white;
        text-decoration: none;
    }
    
    
    .header__link:link, :visited, :active {
        color: white;
        text-decoration: none;
    }
    
    .header__link:hover {
        text-decoration: underline;
    }
    
    .header__link:focus {
        color: black;
    }

    .header__link__sub-text {
        font-size: 16px;
        display: none;

        @include media(tablet) {
            display: block
        }
    }

    .header__navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;

        @include media(tablet) {
            flex-direction: row;
            align-items: center;
        }
    }

    .header__navigation__item {
        font-size: 19px;
        margin-bottom: 5px;
        text-align: right;

        a {
            display: inline-block
        }

        @include media(tablet) {
            margin-right: 15px;
            padding-right: 15px;
            margin-bottom: 0;
            border-right: 1px solid white;
        }
    }

    .header__navigation__item:last-child {
        margin-right: 0;
        border-right: 0;
        padding-right: 0;
    }

    @media print {
        display: none; 
    }
    
}
