extends ../layout

block content

    div.pure-g
        div.pure-u-2-3

            div.confirm-banner
                div.heading-large Address information sent

        div
            a#backBtn.requiredButton.button.button-secondary.largeMarginBottom(href=nextPath + nomisId role="button") Return to task list


