extends ../layout

block content

    div.pure-g.largePaddingBottom
        div.back-link-container.smallPaddingTop
            a.link-back(href="javascript: window.history.back();") Back
        div.pure-u-2-3
            h2.heading-large.midPaddingBottom Submit to Responsible Officer
            p.lede The proposed address information is ready to be submitted to the RO or you can return to your dashboard and submit it later.
            p The information will be submitted to:
            p.bold.noMargin Birmingham Probation Office
            p.bold Tel: 0121 872 4000

    div#continueBtns.pure-g.paddingBottom
        div.pure-u-1
            form#acceptanceForm(method='POST')
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="nomisId" value=nomisId)
                input(type="hidden" name="licenceStatus" value="ADDRESS_SUBMITTED")
                input#continueBtn.requiredButton.button.midMarginBottom.button-start(type="submit" value="Submit")
            a#backBtn.requiredButton.button.button-secondary(href="/hdc/taskList/" + nomisId role="button") Return to task list
