extends layout

block content

    div.grid-row
        div.column-one-half
            h1.heading-xlarge Page not found

            p
                span If you entered a web address please check it was correct.

            p
                span You can
                    =" "
                    a(href="/index") Start again
