extends licence

block content
  ol.start
    li
      | Under the provisions of Chapter 6 of the Criminal Justice Act 2003 you are being released on licence.
      | You will be subject to a Home Detention Curfew. The objective of the Home Detention Curfew is to help you
      | manage your return into the community. You will also be under the supervision of a nominated officer. The
      | objectives of this supervision are to (a) protect the public, (b) prevent re-offending and (c) help you to
      | resettle successfully into the community.

    li
      | Your Home Detention Curfew commences on
      =" "
      span.entry #{SENT_HDCAD}
      |  and expires on
      =" "
      span.entry #{SENT_CRD}

    li
      | Your supervision commences on
      =" "
      span.entry #{SENT_HDCAD}
      |  and expires on
      =" "
      span.entry #{SENT_LED}
      |  unless this licence is previously revoked.

    +reportOnRelease(REPORTING_NAME, REPORTING_ADDRESS, REPORTING_AT, REPORTING_ON)

  div.smallPaddingBottom

  h2 Home Detention Curfew

  ol.continue
    +curfewAddress(CURFEW_ADDRESS, '7')

    +firstDayCurfew(CURFEW_FIRST_FROM, CURFEW_FIRST_UNTIL)

    include includes/curfewTimes
    +curfewConditions()

  +probationSupervision(CONDITIONS, SENT_LED, SENT_SED)

  +contactPoints(MONITOR, EST_PHONE)
