include includes/licenceMixins

doctype html
html(lang="en")
  head
    link(href= hdcUrl + "/public/stylesheets/licences-pdf.css?" + version, media="print", rel="stylesheet", type="text/css")

  body
    block heading
      +heading('LICENCE')

    include includes/offender
    block content
    block signatures
      +signatures(APPROVER, CREATION_DATE, OFF_NAME)

