extends vary_licence

block content

  ol.start
    li
      | Under the provisions of section 246 of the Criminal Justice Act 2003 you are being released on licence and
      | must comply with the conditions of this licence.

    li
      | You will be subject to a Home Detention Curfew. The objective of the Home Detention Curfew is to help you
      | manage your return into the community.

    li
      | Your Home Detention Curfew commenced on
      =" "
      span.entry #{SENT_HDCAD}
      |  and expires on
      =" "
      span.entry #{SENT_CRD}
      |  unless this licence is previously revoked.

    li
      | The address(es) to which you are curfewed is / are:
      br
      br
      span.pre.entry #{CURFEW_ADDRESS}
      br
      br
      | Details of curfew times are shown below at paragraph 5.

    include includes/curfewTimes

    +curfewConditions()
      li
        span.entry
          | It is a condition of your release on licence that you are well behaved, do not commit any offence and do not do
          | anything which could undermine the objectives of your early release from prison.

    li Your sentence expires on
      =" "
      span.entry #{SENT_SED}

  +contactPoints(MONITOR, EST_PHONE)

