extends vary_licence

block heading
  +heading('NOTICE OF SUPERVISION')

block content

  ol.start
    li
      | Under the provisions of Chapter 6 of the Criminal Justice Act 2003 you are being released on Home Detention
      | Curfew (HDC) and post-sentence supervision. The relevant purposes of each type of supervision are explained
      | in the sections below.

    li
      | Your Home Detention Curfew commenced on
      =" "
      span.entry #{SENT_HDCAD}
      |  and expires on
      =" "
      span.entry #{SENT_CRD}

    li
      | Your post-sentence supervision period expires on
      =" "
      span.entry #{SENT_TUSED}

    div.smallPaddingBottom

    h2 Home Detention Curfew

    li
      | You will be subject to a Home Detention Curfew. The objective of the Home Detention Curfew is to help you
      | manage your return into the community.

    +curfewAddress(CURFEW_ADDRESS, '6')

    //+firstDayCurfew(CURFEW_FIRST_FROM, CURFEW_FIRST_UNTIL)

    include includes/curfewTimes

    +curfewConditions()

  +postSentenceSupervison(CONDITIONS, SENT_CRD, '', SENT_SED, SENT_TUSED)

  +contactPoints(MONITOR, EST_PHONE)

  p
    | Your release is also subject to the conditions specified on your licence, all of which have been imposed in
    | accordance with Chapter 6 of the Act.


