extends forms-layout

block content

  +header('Information about address checks')

  h2 What you need to know

  p We previously told you that you're eligible for Home Detention Curfew (tagging).

  p Under Home Detention Curfew you would have to:

  ul.disc
    li stay at home during certain hours (your curfew); and
    li wear an electronic tag - to make sure you follow your curfew
    li allow EMS provider staff access to your home to check the equipment

  p It would mean you could be released on #{SENT_HDCED}

  h2 What you need to do now

  p You now need to fill in the 'Address Form' and return it by

  h2 What we will do

  p We will:

  ol
    li Ask probation to check that the address you provided is suitable - this includes talking to anyone else who lives there.
    li Assess any risks of releasing you on Home Detention Curfew to the proposed address.
    li Let you know our final decision (in writing).

  h2 Not interested?

  p Not interested in being released early with Home Detention Curfew (tagging)? Just fill in the 'Opt out' form.


