extends forms-layout

block content

  +header('Approved')

  p We have checked your case and agreed that you can leave prison early with a tag.

  h3 Your release date
  p You will be released on #{SENT_HDCED} (or as soon as possible after this date).

  h3 Your approved address
  p You must live at:
  pre #{CURFEW_ADDRESS}


  h3 When you leave prison
  p You must wear an electronic tag and stay at home during certain hours until #{SENT_CRD}. We will explain:

  ul.disc
    li the times you must stay at home (your curfew);
    li the rules you must follow (conditions); and
    li who your probation officer is and when you first need to report to them.


  h3 Your electronic tag

  p The person fitting the electronic tag will meet you at your address on the day you're released. They will:

  ul.disc
    li fit you with the tag; and
    li set up the monitoring equipment.


  p You will have to go back to prison if you:

  ul.disc
    li damage the tagging and monitoring equipment
    li do not to allow EMS provider staff access to check the equipment
    li are not at home during your curfew
    li break any of the conditions on your licence
    li assault the EMS provider’s staff
    li are abusive or violent towards EMS provider staff

  ul.byHand
    li Signed:
    li Name:
    li Grade:
    li Date:


