extends forms-layout

block content

  h1 Home detention curfew - Address checks
  span.alert (This form may be disclosed to the offender on request)

  include includes/offender
  if isBass && isAp
    include includes/approvedPremises
  else if isBass
    include includes/bassArea
  else if isAp
    include includes/approvedPremises
  else
    include includes/proposedAddress

  include includes/prisonCompleted

  if !isBass && !isAp
    include includes/curfewAddressReview

  include includes/reporting

  include includes/conditions

  if riskManagement.version === '1'
    include includes/riskV1
  else if riskManagement.version === '2'
    include includes/riskV2
  else
    include includes/riskV3

  include includes/victim

  include includes/probationCompleted
        
