doctype html
html(lang="en")
  head
    link(href= domain + "/public/stylesheets/pdf.css?" + version, media="print", rel="stylesheet", type="text/css")

  body

    block content

      div
        h1 Home detention curfew - Address checks
        span.alert (This form may be disclosed to the offender on request)

      include includes/offender

      if isBass
        include includes/bassArea
      else if isAP
        include includes/approvedPremises
      else
        include includes/proposedAddress

      include includes/prisonCompleted

      if !isBass && !isAP
        include includes/curfewAddressReview
        
      include includes/reporting
        
      include includes/conditions
        
      include includes/risk
        
      include includes/victim

      include includes/probationCompleted
        
