include includes/formsHeader

doctype html
html(lang="en")
  head
    link(href= domain + "/public/stylesheets/pdf.css?" + version, media="print", rel="stylesheet", type="text/css")

  body

    block content

      div

        +header('not eligible')

        p We checked to see if you’re eligible for release from prison on home detention curfew (tagging).

        p By law you are not eligible because #{INELIGIBLE_REASON}.

        p You cannot challenge this because it is based on the law, not on a decision by prison staff.
