extends forms-layout

block content

  +header('not enough time')

  p We checked to see if you can be released from prison on home detention curfew (tagging).
  p We cannot release you on home detention curfew as there is not enough time to carry out our checks before your release date.
  p You will be released on #{SENT_CRD}.

