extends forms-layout

block content

  +header('Presumed Unsuitable')

  p We checked to see if you can be released from prison on Home Detention Curfew (tagging).

  p Although you are eligible by law, you are presumed unsuitable for the scheme because #{UNSUITABLE_REASON}.

  p This means you would only be considered for Home Detention Curfew in exceptional circumstances.

  h2 Think your case is exceptional?</h2>

  p You may make representations to the Governor as to why you should be released on HDC. You will need to show that your case stands out and that HDC could be justified despite the presumption against it in your case.

  p Ask prison staff about how to do this.

