extends forms-layout

block content

  +header('not suitable')

  p We checked to see if you're eligible for release from prison on home detention curfew (tagging).

  p Although you are eligible by law, you are presumed unsuitable for the scheme because #{UNSUITABLE_REASON}.

  p This means you would only be considered for home detention curfew in exceptional circumstances.

  h2 Don't agree with this decision?</h2>

  p If you want to challenge this decision you need to follow your prison complaints process, although we'll only change our decision in exceptional circumstances.

  p Ask prison staff about how to do this.

