extends layout
block content
    div.pure-g
        div.pure-u-1-2
            h1.heading-xlarge Authorisation Error
            p
                span You are not authorised to use this application.
            p
                span You can
                    =" "
                    a(href=authURL) Start again
