extends layout

block content

    div.pure-g
        div.pure-u-1-2
            h1.heading-xlarge Error
            h1.heading-large There was an error

    h3 Message
    p.code=error.status =message

    if stack
        h3 Developer mode detail
        p.code= stack
    else
        a(href="/") Start again
