extends layout

block content

    div.pure-g
        div.pure-u-2-3
            h1.heading-xlarge Feedback

            span Please email
            =" "
            a(href="mailto:someone") someone@digital.justice.gov.uk
            =" "
            | with any queries or feedback

        div.pure-u-2-3
            div.back-link-container
                a.link-back(href= returnURL) Back
