header(role="banner", id="global-header", class="with-proposition")
  div.header-wrapper.sm-PadLeftRight15
    div.pure-g
      div.pure-u-1.pure-u-md-1-2
        div.header-logo
          a(href="/", title="Go to the homepage", id="logo", class="content hmppslogo")
            | HMPPS
          span |
          h1.heading-medium.noMargin
            a(href="/", title="Go to the homepage") Home detention curfew (HDC)

      if user
        div.pure-u-1.pure-u-md-1-2
          div#header-user.u-pad10.sm-pad15
            div.u-padRight10.sm-padRight30.padLeft15.bold.borderRight
              a(href="/user" title="User page" aria-label="Visit user admin page") #{user.name}
            if user.activeCaseLoad && !user.activeCaseLoad.description.includes('---')
              div.u-padRightLeft10.sm-padLeftRight30.bold.borderRight
                a(href="/user" title="User page" aria-label="Visit user admin page") #{user.activeCaseLoad.description}
            div.u-padLeft10.sm-padLeft30.padRight15
              a(href="/logout" title="Sign out" aria-label="Sign out of HDC") Sign out

