extends layout

block content

    div.pure-g
        div.pure-u-1-2
            h1.heading-xlarge Page not found

            p
                span If you entered a web address please check it was correct.

            p
                span You can
                    =" "
                    a(href="/") Start again
