div.taskListItem
    h2.heading-medium Additional conditions

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.licenceConditions === 'DONE'
                if licenceStatus.decisions.standardOnly
                    div Standard conditions only
                else
                    if licenceStatus.decisions.additional
                        div #{licenceStatus.decisions.additional}
                             +pluralise(licenceStatus.decisions.additional, ' additional condition')
                             |  added
                    if licenceStatus.decisions.bespoke
                        div #{licenceStatus.decisions.bespoke}
                            +pluralise(licenceStatus.decisions.bespoke, ' bespoke condition')
                            |  added
            else
                | Not completed
        div.pure-u-1-4.center

            -var postApproval = ['DECIDED', 'MODIFIED', 'MODIFIED_APPROVAL'].includes(licenceStatus.stage)
            -var roleCanModify = (user.role === 'RO' || user.role === 'CA')

            if postApproval && roleCanModify
                a.taskListAction.center.button.button-secondary(href="/hdc/licenceConditions/standard/" + prisonerInfo.offenderNo) View/Edit

            else if user.role === 'RO'
                +startContinueView(licenceStatus.tasks.licenceConditions, "/hdc/licenceConditions/standard/" + prisonerInfo.offenderNo)

            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/conditions/" + prisonerInfo.offenderNo) View
