div.largeMarginBottom.borderTop
    h2.heading-medium Additional conditions

    div.borderBottomLight.largeMarginBottom

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.licenceConditions === 'DONE'
                if licenceStatus.decisions.standardOnly
                    div Standard conditions only
                else
                    if licenceStatus.decisions.additional
                        div #{licenceStatus.decisions.additional}
                             +pluralise(licenceStatus.decisions.additional, ' additional condition')
                             |  added
                    if licenceStatus.decisions.bespoke
                        div #{licenceStatus.decisions.bespoke}
                            +pluralise(licenceStatus.decisions.bespoke, ' bespoke condition')
                            |  added
            else
                | No conditions added
        div.pure-u-1-4
            if user.role === 'RO'
                +proceed(licenceStatus.tasks.licenceConditions, 'UNSTARTED', 'Start', 'View', "/hdc/licenceConditions/standard/" + prisonerInfo.offenderNo)
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/conditions/" + prisonerInfo.offenderNo) View
