div.taskListItem.largeMarginBottom
    h2.heading-medium Final decision

    div.pure-g
        div.pure-u-3-4
            | #{statusLabel}
            if (licenceStatus.decisions.refusalReason)
                | : #{licenceStatus.decisions.refusalReason}
        div.pure-u-1-4
            if (licenceStatus.stage === 'APPROVAL')
                +proceed(licenceStatus.tasks.approval, 'UNSTARTED', 'Continue', 'View', "/hdc/approval/release/" + prisonerInfo.offenderNo)




