div.taskListItem.largeMarginBottom
    h2.heading-medium Final decision

    div.pure-g
        div.pure-u-3-4
            | #{statusLabel}
            if (licenceStatus.decisions.refusalReason)
                | : #{licenceStatus.decisions.refusalReason}
        div.pure-u-1-4.center
            if (licenceStatus.stage === 'APPROVAL')
                +startContinueView(licenceStatus.tasks.approval, "/hdc/approval/release/" + prisonerInfo.offenderNo)




