- var canSendToDm = licenceStatus.stage === 'PROCESSING_CA' || allowedTransitions.caToDm
- var canSendToRo = licenceStatus.stage === 'ELIGIBILITY' && allowedTransitions.caToRo

div.largeMarginBottom.borderTop
    h2.heading-medium Submit to decision maker

    div.borderBottomLight.largeMarginBottom

    div.pure-g
        div.pure-u-3-4
            if canSendToRo || canSendToDm
                | Ready to submit
            else if licenceStatus.decisions.postponed
                | Submission unavailable - HDC application postponed
            else if licenceStatus.decisions.finalChecksRefused
                | Submission unavailable - HDC refused
            else
                | Submission unavailable - Tasks not yet complete

        div.pure-u-1-4.center
            if canSendToDm || canSendToRo
                a.taskListAction.center.button(href="/hdc/send/" + prisonerInfo.offenderNo)
                    | Continue
