div.largeMarginBottom.borderTop
    if licenceStatus.stage === "ELIGIBILITY"
        h2.heading-medium Submit to responsible officer
    else
        h2.heading-medium Submit to decision maker

    div.pure-g
        div.pure-u-3-4
            if allowedTransitions.caToRo || allowedTransitions.caToDm
                | Ready to submit
            else if licenceStatus.decisions.postponed
                | Submission unavailable - HDC application postponed
            else if licenceStatus.decisions.finalChecksRefused
                | Submission unavailable - HDC refused
            else
                | Submission unavailable - Tasks not yet complete

        div.pure-u-1-4.center
            if allowedTransitions.caToRo || allowedTransitions.caToDm
                -var linkTarget = allowedTransitions.caToRo ? '/hdc/review/curfewAddress/' : '/hdc/send/';
                a#continueBtn.taskListAction.center.button(href=linkTarget + prisonerInfo.offenderNo)
                    | Continue
