div.largeMarginBottom.borderTop

    h2.heading-medium Submit to decision maker

    div.pure-g
        div.pure-u-3-4
            if allowedTransition === 'caToDm'
                | Ready to submit
            else if licenceStatus.decisions.postponed
                | Submission unavailable - HDC application postponed
            else if licenceStatus.decisions.finalChecksRefused
                | Submission unavailable - HDC refused
            else
                | Submission unavailable - Tasks not yet complete

        if allowedTransition === 'caToDm'
            div.pure-u-1-4.center
                a#continueBtn.taskListAction.center.button(href='/hdc/send/approval/' + prisonerInfo.offenderNo)
                    | Continue
