extends taskListTemplate

block tasks
    div.taskListItem.borderBottomLight
        include tasks/eligibilityTask

    if licenceStatus.decisions.eligible
        div.taskListItem.borderBottom
            include tasks/proposedAddressTask

    div.taskListItem.borderBottom
        if allowedTransition === 'caToDmRefusal'
            include tasks/caSubmitRefusalTask
        else
            include tasks/caSubmitAddressReviewTask
