extends taskListTemplate

block tasks
    div.taskListItem.borderBottom
        include tasks/eligibilityTask

    if licenceStatus.tasks.eligibility === 'DONE' && licenceStatus.tasks.optOut === 'UNSTARTED'
        div.taskListItem.borderBottom
            include tasks/informOffenderTask

    if licenceStatus.decisions.eligible
        div.taskListItem.borderBottom
            include tasks/proposedAddressTask

    if allowedTransition === 'caToDmRefusal'
        div.taskListItem.borderBottom
            include tasks/caSubmitRefusalTask

    else if licenceStatus.tasks.optOut === 'DONE' && !licenceStatus.decisions.optedOut
        div.taskListItem.borderBottom
            if licenceStatus.decisions.bassReferralNeeded
                include tasks/caSubmitBassReviewTask
            else
                include tasks/caSubmitAddressReviewTask
