extends taskListTemplate

block tasks

    include tasks/curfewAddressTask
    if (['unfinished', 'approved'].includes(licenceStatus.decisions.curfewAddressApproved))
        include tasks/riskManagementTask
        include tasks/curfewHoursTask
        include tasks/additionalConditionsTask
        include tasks/reportingInstructionsTask
        include tasks/finalChecksTask
        include tasks/postponementTask
    include tasks/HDCRefusalTask
    if allowedTransition === 'caToDmRefusal'
        include tasks/caSubmitRefusalTask
    else if allowedTransition === 'caToRo'
        include tasks/caSubmitAddressReviewTask
    else
        include tasks/caSubmitApprovalTask
