extends taskListTemplate

block tasks
    if licenceStatus.decisions.bassReferralNeeded
        div.taskListItem.borderBottomLight
            include tasks/bassOfferTask
    else
        div.taskListItem.borderBottomLight
            include tasks/curfewAddressTask

    - var curfewAddressReady = ['unfinished', 'approved'].includes(licenceStatus.decisions.curfewAddressApproved)
    - var bassReady = licenceStatus.decisions.bassReferralNeeded && licenceStatus.tasks.bassAreaCheck === 'DONE' && !licenceStatus.decisions.bassWithdrawn
    - var bassExcluded = ['Unavailable', 'Unsuitable'].includes(licenceStatus.decisions.bassAccepted)

    if (curfewAddressReady || bassReady && !bassExcluded)
        div.taskListItem.borderBottomLight
            include tasks/riskManagementTask

        div.taskListItem.borderBottomLight
            include tasks/curfewHoursTask

        div.taskListItem.borderBottomLight
            include tasks/additionalConditionsTask

        div.taskListItem.borderBottomLight
            include tasks/reportingInstructionsTask

        div.taskListItem.borderBottom
            include tasks/finalChecksTask

        div.taskListItem.borderBottomLight
            include tasks/postponementTask

    div.taskListItem.borderBottom
        include tasks/HDCRefusalTask

    div.taskListItem.borderBottom
        if allowedTransition === 'caToDmRefusal'
            include tasks/caSubmitRefusalTask
        else if allowedTransition === 'caToRo'
            if licenceStatus.decisions.bassReferralNeeded
                include tasks/caSubmitBassReviewTask
            else
                include tasks/caSubmitAddressReviewTask
        else
            include tasks/caSubmitApprovalTask
