extends taskListTemplate

block tasks
    div.taskListItem.borderBottomLight
        if licenceStatus.decisions.bassReferralNeeded
            include tasks/bassOfferTask
        else
            include tasks/curfewAddressTask

    if (['unfinished', 'approved'].includes(licenceStatus.decisions.curfewAddressApproved) || licenceStatus.decisions.bassReferralNeeded)
        div.taskListItem.borderBottomLight
            include tasks/riskManagementTask

        div.taskListItem.borderBottomLight
            include tasks/curfewHoursTask

        div.taskListItem.borderBottomLight
            include tasks/additionalConditionsTask

        div.taskListItem.borderBottomLight
            include tasks/reportingInstructionsTask

        div.taskListItem.borderBottom
            include tasks/finalChecksTask

        div.taskListItem.borderBottomLight
            include tasks/postponementTask

    div.taskListItem.borderBottom
        include tasks/HDCRefusalTask

    div.taskListItem.borderBottom
        if allowedTransition === 'caToDmRefusal'
            include tasks/caSubmitRefusalTask
        else if allowedTransition === 'caToRo'
            include tasks/caSubmitAddressReviewTask
        else
            include tasks/caSubmitApprovalTask
