extends taskListTemplate

block tasks

    - var curfewAddressReady = ['unfinished', 'approved'].includes(licenceStatus.decisions.curfewAddressApproved)
    - var bassReady = licenceStatus.decisions.bassReferralNeeded && licenceStatus.tasks.bassOffer === 'DONE' && !licenceStatus.decisions.bassWithdrawn
    - var bassExcluded = ['Unavailable', 'Unsuitable'].includes(licenceStatus.decisions.bassAccepted)

    if (curfewAddressReady || bassReady)
        div.taskListItem.borderBottomLight
            include tasks/eligibilitySummaryTask

    if licenceStatus.decisions.eligible
        div.taskListItem.borderBottomLight
            if allowedTransition === 'caToRo'
                include tasks/proposedAddressTask
            else
                if licenceStatus.decisions.bassReferralNeeded
                    include tasks/bassAddressTask
                else
                    include tasks/curfewAddressTask

        if (curfewAddressReady || bassReady && !bassExcluded)
            div.taskListItem.borderBottomLight
                include tasks/riskManagementTask

            div.taskListItem.borderBottomLight
                include tasks/victimLiaisonTask

            div.taskListItem.borderBottomLight
                include tasks/curfewHoursTask

            div.taskListItem.borderBottomLight
                include tasks/additionalConditionsTask

            div.taskListItem.borderBottomLight
                include tasks/reportingInstructionsTask

            div.taskListItem.borderBottom
                include tasks/finalChecksTask

            div.taskListItem.borderBottomLight
                include tasks/postponementTask

        if !licenceStatus.decisions.dmRefused
            div.taskListItem.borderBottom
                include tasks/HDCRefusalTask

        div.taskListItem.borderBottom
            if allowedTransition === 'caToDm'
                include tasks/caSubmitApprovalTask
            else if allowedTransition === 'caToDmRefusal'
                include tasks/caSubmitRefusalTask
            else if allowedTransition === 'caToRo'
                if licenceStatus.decisions.bassReferralNeeded
                    include tasks/caSubmitBassReviewTask
                else
                    include tasks/caSubmitAddressReviewTask
            else
                include tasks/createLicenceTask

    else if licenceStatus.decisions.excluded || licenceStatus.decisions.unsuitableResult
        include tasks/informOffenderTask
