div.largeMarginBottom.borderTop
    h2.heading-medium Proposed curfew address

    div.borderBottomLight.largeMarginBottom

    if licenceStatus.decisions.bassReferralNeeded || licenceStatus.decisions.optedOut
        div.pure-g
            div.pure-u-1
                if licenceStatus.decisions.bassReferralNeeded
                    p BASS referral requested
                if licenceStatus.decisions.optedOut
                    p Opted out

    else
        div.pure-g
            div.pure-u-3-4
                if licenceStatus.tasks.curfewAddressReview === 'DONE'
                    if licenceStatus.decisions.curfewAddressApproved
                        | Address approved
                    else
                        | Address rejected
                else
                    | Not yet approved
            div.pure-u-1-4
                if licenceStatus.tasks.curfewAddressReview === 'UNSTARTED'
                    a.taskListAction.center.button(href="/hdc/curfew/curfewAddressReview/" + prisonerInfo.offenderNo)
                        | Start
                else
                    a.taskListAction.center.button.button-secondary(href="/hdc/curfew/curfewAddressReview/" + prisonerInfo.offenderNo)
                        | View
