div.taskListItem
    h2.heading-medium Proposed curfew address

    if licenceStatus.decisions.bassReferralNeeded || licenceStatus.decisions.optedOut
        div.pure-g
            div.pure-u-1
                if licenceStatus.decisions.bassReferralNeeded
                    p BASS referral requested
                if licenceStatus.decisions.optedOut
                    p Opted out

    else
        div.pure-g
            div.pure-u-3-4
                -var curfewAddressApproved = licenceStatus.decisions.curfewAddressApproved;

                if curfewAddressApproved === 'approved'
                    | Address approved
                else if curfewAddressApproved === 'withdrawn'
                    span.bold.alert Address withdrawn
                else if curfewAddressApproved === 'rejected'
                    span.bold.alert Address rejected
                else
                    | Not yet approved
            div.pure-u-1-4.center
                if user.role === 'RO'
                    +proceed(licenceStatus.tasks.curfewAddressReview, 'UNSTARTED', 'Start', 'View', "/hdc/curfew/curfewAddressReview/" + prisonerInfo.offenderNo)
                else
                    a.taskListAction.center.button.button-secondary(href="/hdc/review/address/" + prisonerInfo.offenderNo) View
