div.largeMarginBottom.borderTop
    h2.heading-medium Proposed curfew address

    div.borderBottomLight.largeMarginBottom

    if bassReferralRequested || optOut == 'Yes'
        div.pure-g
            div.pure-u-1
                if taskData.hasBassReferral
                    p BASS referral requested
                if taskData.hasOptedOut
                    p Opted out

    else
        div.pure-g
            div.pure-u-3-4
                // TODO define approved
                | Not yet approved
            div.pure-u-1-4
                a.taskListAction.center.button(href="/hdc/licenceConditions/curfewAddressReview/" + prisonerInfo.offenderNo)
                    if taskData.curfewAddress.state === 'UNSTARTED'
                        | Start
                    else
                        | View
