div.taskListItem
    h2.heading-medium Curfew hours

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.curfewHours === 'DONE'
                | Confirmed
            else
                | Not completed
        div.pure-u-1-4.center
            if user.role === 'RO'
                +startContinueView(licenceStatus.tasks.curfewHours, "/hdc/curfew/curfewHours/" + prisonerInfo.offenderNo)
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/curfewHours/" + prisonerInfo.offenderNo) View
