extends taskListTemplate

block tasks

    if licenceStatus.decisions.insufficientTimeStop
        div.taskListItem.borderBottom.largeMarginBottom
            include tasks/eligibilitySummaryTask

        div.taskListItem.borderBottom
            include tasks/refusalTask


    else if ['rejected', 'withdrawn'].includes(licenceStatus.decisions.curfewAddressApproved)
        div.taskListItem.borderBottom.largeMarginBottom
            include tasks/eligibilitySummaryTask

        div.taskListItem.borderBottomLight
            include tasks/curfewAddressTask

        div.taskListItem.borderBottom
            include tasks/returnToCaTask

        div.taskListItem.borderBottom
            include tasks/refusalTask


    else
        div.taskListItem.borderBottomLight
            include tasks/curfewAddressTask

        if (licenceStatus.decisions.curfewAddressApproved === 'approved')
            div.taskListItem.borderBottomLight
                include tasks/riskManagementTask

            div.taskListItem.borderBottomLight
                include tasks/curfewHoursTask

            div.taskListItem.borderBottomLight
                include tasks/additionalConditionsTask

            div.taskListItem.borderBottomLight
                include tasks/reportingInstructionsTask

            div.taskListItem.borderBottomLight
                include tasks/finalChecksTask

        if licenceStatus.decisions.confiscationOrder
            div.taskListItem.borderBottomLight
                include tasks/postponementTask

        div.taskListItem.borderBottom
            include tasks/returnToCaTask

        div.taskListItem.borderBottom
            include tasks/approvalTask
