
- var eligible = licenceStatus.decisions.eligible ? 'Eligible' : 'Not eligible'
- var suitable = licenceStatus.decisions.unsuitable ? 'unsuitable' : 'presumed suitable'
- var sufficientTime = (licenceStatus.decisions.insufficientTime ? 'less' : 'more') + ' than 4 weeks until release date'


div.taskListItem.borderBottom.largeMarginBottom
    h2.heading-medium Eligibility and presumed suitability

    div.pure-g
        div.pure-u-3-4
            | #{eligible}, #{suitable}, #{sufficientTime}
        div.pure-u-1-4.center
            a.taskListAction.center.button.button-secondary(href="/hdc/review/eligibility/" + prisonerInfo.offenderNo) View




