-var crdTimeText = licenceStatus.decisions.insufficientTime ? 'Less than 4 weeks until release date' : ''
-var crdTimeContinueText = licenceStatus.decisions.insufficientTimeContinue? ', with approval to continue' : ''


div(class= user.role === 'DM' ? "taskListItem borderBottom largeMarginBottom" : "taskListItem")
    h2.heading-medium Eligibility and presumed suitability

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.decisions.excluded
                | Not eligible
            else if licenceStatus.decisions.unsuitable
                | Unsuitable
                if licenceStatus.decisions.exceptionalCircumstances
                    |  with exceptional circumstances
                    br
                    | #{crdTimeText}#{crdTimeContinueText}
            else if licenceStatus.decisions.insufficientTime
                | #{crdTimeText}#{crdTimeContinueText}
            else
                | Eligible
        div.pure-u-1-4.center
            if user.role === 'CA'
                a.taskListAction.center.button.button-secondary(href="/hdc/eligibility/excluded/" + prisonerInfo.bookingId) View/Edit
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/eligibility/" + prisonerInfo.bookingId) View




