div.taskListItem.smallPaddingBottom
    h2.heading-medium Final checks

    div.pure-g
        div.pure-u-1-2
            if licenceStatus.tasks.finalChecks === 'DONE'
                div.padLeftRight15
                    ul
                        if licenceStatus.decisions.seriousOffence
                            li.list-bullet.alert#seriousOffenceAnswer The offender has been referred to the police or other law enforcement agency or to the independent adjudicator (IA) in relation to an alleged offence committed during the current sentence and the matter remains unresolved
                        else
                            li.list-bullet#seriousOffenceAnswer The offender is not under investigation or been charged for a serious offence in custody

                        if licenceStatus.decisions.onRemand
                            li.list-bullet.alert#onRemandAnswer The offender is on remand
                        else
                            li.list-bullet#onRemandAnswer The offender is not on remand
            else
                | Not yet complete
        div.pure-u-1-4
        div.pure-u-1-4
            if user.role === 'CA'
                +proceed(licenceStatus.tasks.finalChecks, 'UNSTARTED', 'Start', 'View', "/hdc/finalChecks/seriousOffence/" + prisonerInfo.offenderNo)

