extends ../layout

block content

    h1#pageHeading.heading-large Upcoming releases

        if required

            h2.heading-medium Information required
            table
                thead
                    tr
                        th Name
                        th NOMS ID
                        th Establishment
                        th Discharge date
                        th
                tbody
                    each entry in required
                        tr.infoRequired
                            td.requiredName
                                if entry.name
                                    |#{entry.name}

                            td.requiredNomisId
                                if entry.nomisId
                                    | #{entry.nomisId}

                            td.requiredEstablishment
                                if entry.establishment
                                    | #{entry.establishment}

                            td.requiredDischargeDate
                                if entry.dischargeDate
                                    | #{moment(entry.dischargeDate).format('DD/MM/YYYY')}

                            td.requiredButton
                                a.button.button-secondary(href="details/"+entry.nomisId role="button")
                                    if entry.inProgress
                                        |Continue
                                    else
                                        |Start
        else
            h2.heading-medium No upcoming releases
