div.taskListItem
    h2.heading-medium Offender opt out

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.decisions.optedOut
                | Offender has opted out
            else
                | Offender has opted in
        div.pure-u-1-4
            form(method="post" action="/hdc/optOut/" + nomisId)
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="nomisId" value=nomisId || '')

                if licenceStatus.decisions.optedOut
                    input#optedOut(type="hidden" name="decision" value="No")
                    input#continueBtn.taskListAction.center.button.button-secondary(type="submit" value="Opt in")

                else
                    input#optedOut(type="hidden" name="decision" value="Yes")
                    input#continueBtn.taskListAction.center.button.button-secondary(type="submit" value="Opt out")
