div.largeMarginBottom.borderTop
    h2.heading-medium Postponement

    div.borderBottomLight.largeMarginBottom

    div.pure-g
        div.pure-u-1-2
            if licenceStatus.decisions.postponed
                | HDC application postponed
            else
                | Use this to indicate that the process is postponed while any risk management planning actions remain outstanding
        div.pure-u-1-4
        div.pure-u-1-4
            p.namedAnchor
                a.namedAnchor(name="postpone")

            form(method="post" action="/hdc/finalChecks/postpone/" + nomisId)
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="nomisId" value=nomisId || '')
                input(type="hidden" name="anchor" value='postpone')

                if licenceStatus.decisions.postponed
                    input#postponed(type="hidden" name="decision" value="No")
                    input#continueBtn.taskListAction.center.button.button-secondary(type="submit" value="Resume")

                else
                    input#postponed(type="hidden" name="decision" value="Yes")
                    input#continueBtn.taskListAction.center.button.button-secondary(type="submit" value="Postpone")
