if licenceStatus.tasks.exclusion == 'DONE' && licenceStatus.decisions.eligible
    div.largeMarginBottom.borderTop
        h2.heading-medium Proposed address / opt out request
        div.pure-g
            div.pure-u-3-4
                if licenceStatus.tasks.curfewAddress === 'UNSTARTED'
                    | Information not yet entered
                else if licenceStatus.decisions.optedOut
                    | Offender has opted out of HDC
                else if licenceStatus.decisions.bassReferralNeeded
                    | Offender has opted in and requested BASS referral
                else if licenceStatus.decisions.curfewAddressApproved === 'rejected'
                    span.alert.bold Address rejected
                else if licenceStatus.stage !== 'ELIGIBILITY'
                    | Proposed address information sent to RO
                else
                    | Information not yet submitted

            div.pure-u-1-4.center
                if licenceStatus.decisions.curfewAddressApproved === 'rejected'
                    +proceed(licenceStatus.tasks.curfewAddress, 'UNSTARTED', 'Start', 'View/edit', "/hdc/proposedAddress/rejected/" + prisonerInfo.offenderNo)
                else
                    +proceed(licenceStatus.tasks.curfewAddress, 'UNSTARTED', 'Start', 'Continue', "/hdc/proposedAddress/optOut/" + prisonerInfo.offenderNo)
