div.largeMarginBottom.borderTop
    h2.heading-medium Reporting instructions

    div.borderBottomLight.largeMarginBottom

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.reportingInstructions === 'DONE'
                div Confirmed
            else
                | Not yet added
        div.pure-u-1-4
            +proceed(licenceStatus.tasks.reportingInstructions, 'UNSTARTED', 'Start', 'View', "/hdc/reporting/reportingInstructions/" + prisonerInfo.offenderNo)
