div.taskListItem
    h2.heading-medium Reporting instructions

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.reportingInstructions === 'DONE'
                div Confirmed
            else
                | Not completed
        div.pure-u-1-4.center
            if user.role === 'RO'
                +startContinueView(licenceStatus.tasks.reportingInstructions, "/hdc/reporting/reportingInstructions/" + prisonerInfo.offenderNo)
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/reporting/" + prisonerInfo.offenderNo) View
