div.largeMarginBottom.borderTop
    h2.heading-medium Reporting instructions

    div.borderBottomLight.largeMarginBottom

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.reportingInstructions === 'DONE'
                div Confirmed
            else
                | Not yet added
        div.pure-u-1-4
            if licenceStatus.tasks.reportingInstructions === 'UNSTARTED'
                a.taskListAction.center.button(href="/hdc/reporting/reportingInstructions/" + prisonerInfo.offenderNo)
                    | Start
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/reporting/reportingInstructions/" + prisonerInfo.offenderNo)
                    | View
