div.taskListItem
    h2.heading-medium Reporting instructions

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.reportingInstructions === 'DONE'
                div Confirmed
            else
                | Not completed
        div.pure-u-1-4.center

            -var postApproval = ['DECIDED', 'MODIFIED', 'MODIFIED_APPROVAL'].includes(licenceStatus.stage)
            -var roleCanModify = (user.role === 'RO' || user.role === 'CA')

            if postApproval && roleCanModify
                a.taskListAction.center.button.button-secondary(href="/hdc/reporting/reportingInstructions/" + prisonerInfo.offenderNo) View/Edit

            else if user.role === 'RO'
                +startContinueView(licenceStatus.tasks.reportingInstructions, "/hdc/reporting/reportingInstructions/" + prisonerInfo.offenderNo)
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/reporting/" + prisonerInfo.offenderNo) View
