div.largeMarginBottom.borderTop
    h2.heading-medium Reporting instructions

    div.borderBottomLight.largeMarginBottom

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.reportingInstructions === 'DONE'
                div Confirmed
            else
                | Not yet added
        div.pure-u-1-4
            if user.role === 'RO'
                +proceed(licenceStatus.tasks.reportingInstructions, 'UNSTARTED', 'Start', 'View', "/hdc/reporting/reportingInstructions/" + prisonerInfo.offenderNo)
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/reporting/" + prisonerInfo.offenderNo) View
