div.largeMarginBottom.borderTop
    h2.heading-medium Risk management and victim liaison

    div.borderBottomLight.largeMarginBottom

    div.pure-g
        div.pure-u-9-12
            // TODO define text
            | Not yet confirmed
        div.pure-u-1-4
            a.taskListAction.center.button(href="/hdc/licenceConditions/riskManagement/" + prisonerInfo.offenderNo)
                if taskData.riskManagement.state === 'UNSTARTED'
                    | Start
                else
                    | View

