div.taskListItem
    h2.heading-medium Risk management and victim liaison

    div.pure-g
        div.pure-u-3-4
            if licenceStatus.tasks.riskManagement === 'DONE'
                if licenceStatus.decisions.riskManagementNeeded
                    div Risk management required
                else
                    div No risks
                if licenceStatus.decisions.victimLiasionNeeded
                    div Victim liaison required
                else
                    div No victim liaison required
            else
                | Not completed
        div.pure-u-1-4.center
            if user.role === 'RO'
                +startContinueView(licenceStatus.tasks.riskManagement, "/hdc/risk/riskManagement/" + prisonerInfo.offenderNo)
            else if user.role === 'CA' && ['DECIDED', 'MODIFIED', 'MODIFIED_APPROVAL'].includes(licenceStatus.stage)
                a.taskListAction.center.button.button-secondary(href="/hdc/risk/riskManagement/" + prisonerInfo.offenderNo) View/Edit
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/risk/" + prisonerInfo.offenderNo) View
