extends taskListTemplate

block tasks

    if licenceStatus.decisions.optedOut
        div.taskListItem.borderBottom
            include tasks/optOutTask
    else
        div.taskListItem.borderBottomLight
            include tasks/curfewAddressTask
        if (licenceStatus.decisions.curfewAddressApproved !== 'rejected')
            div.taskListItem.borderBottomLight
                include tasks/riskManagementTask

            div.taskListItem.borderBottomLight
                include tasks/curfewHoursTask

            div.taskListItem.borderBottomLight
                include tasks/additionalConditionsTask

            div.taskListItem.borderBottomLight
                include tasks/reportingInstructionsTask

            div.taskListItem.borderBottom
                include tasks/optOutTask

    div.taskListItem.borderBottom
        include tasks/roSubmitTask
