extends taskListTemplate

block tasks

    div.taskListItem.borderBottomLight
        if (licenceStatus.decisions.bassReferralNeeded)
            include tasks/bassAreaTask
        else
            include tasks/curfewAddressTask

    div.taskListItem.borderBottomLight
        include tasks/riskManagementTask

    if (!licenceStatus.decisions.curfewAddressRejected && !licenceStatus.decisions.bassAreaNotSuitable)
        div.taskListItem.borderBottomLight
            include tasks/victimLiaisonTask

        div.taskListItem.borderBottomLight
            include tasks/curfewHoursTask

        div.taskListItem.borderBottomLight
            include tasks/additionalConditionsTask

        div.taskListItem.borderBottom
            include tasks/reportingInstructionsTask

    div.taskListItem.borderBottom
        include tasks/roSubmitTask
