extends taskListTemplate

block tasks

    div.taskListItem.borderBottomLight
        include tasks/riskManagementTask
    div.taskListItem.borderBottomLight
        include tasks/curfewHoursTask
    div.taskListItem.borderBottomLight
        include tasks/additionalConditionsTask
    div.taskListItem.borderBottomLight
        include tasks/reportingInstructionsTask
