extends ../layout
include ./includes/proceedButton
include ./includes/utils


block content

    div.back-link-container
        a.link-back(href="/") Back to case list

        h1.heading-large HDC release tasks

    if !user.role
        p Error
    else if !prisonerInfo
        p No offender details found
    else

        include prisonerDetails

        if user.role === 'CA'
            if (['UNSTARTED', 'ELIGIBILITY'].includes(licenceStatus.stage))
                include eligibilityTask
                include proposedAddressTask
            else
                include curfewAddressTask
                if (licenceStatus.decisions.curfewAddressApproved !== 'rejected')
                    include riskManagementTask
                    include curfewHoursTask
                    include additionalConditionsTask
                    include reportingInstructionsTask
                include finalChecksTask
                include postponementTask
                if (!licenceStatus.decisions.refused)
                    include caSubmitTask

        if user.role === 'RO'
            if (licenceStatus.decisions.optedOut)
                include optOutTask
            else
                include curfewAddressTask
                if (licenceStatus.decisions.curfewAddressApproved !== 'rejected')
                    include riskManagementTask
                    include curfewHoursTask
                    include additionalConditionsTask
                    include reportingInstructionsTask
                    include optOutTask
            include roSubmitTask

        if user.role === 'DM'
            include curfewAddressTask
            if (licenceStatus.decisions.curfewAddressApproved !== 'rejected')
                include riskManagementTask
                include curfewHoursTask
                include additionalConditionsTask
                include reportingInstructionsTask
            include finalChecksTask
            include approvalTask
