extends taskListTemplate
include vary/standardTask
include tasks/caBlockedTask

block tasks
  each task in taskListModel
    -var taskName = task.task
    div.taskListItem.borderBottomLight

      if !taskName
        + standardTask(task)

      if taskName === 'eligibilityTask'
        include tasks/eligibilityTask

      if taskName === 'eligibilitySummaryTask'
        include tasks/eligibilitySummaryTask

      if taskName === 'varyLicenceTask'
        include tasks/varyLicenceTask

      if taskName === 'caBlockedTask'
        + caBlockedTask(task)