extends taskListTemplate
include vary/standardTask

block tasks
    each task in taskListModel
        -var taskName = task.task
        div.taskListItem.borderBottomLight

            if !taskName
                + standardTask(task)

            if taskName === 'eligibilityTask'
                include tasks/eligibilityTask

            if taskName === 'bassOfferTask'
                include tasks/bassOfferTask
            if taskName === 'finalChecksTask'
                include tasks/finalChecksTask
            if taskName === 'HDCRefusalTask'
                include tasks/HDCRefusalTask

            if taskName === 'eligibilitySummaryTask'
                include tasks/eligibilitySummaryTask

            if taskName === 'caSubmitRefusalTask'
                include tasks/caSubmitRefusalTask
            if taskName === 'caSubmitBassReviewTask'
                include tasks/caSubmitBassReviewTask
            if taskName === 'caSubmitAddressReviewTask'
                include tasks/caSubmitAddressReviewTask
            if taskName === 'caSubmitApprovalTask'
                include tasks/caSubmitApprovalTask

            if taskName === 'createLicenceTask'
                include tasks/createLicenceTask

            if taskName === 'varyLicenceTask'
                include tasks/varyLicenceTask
