extends ../layout
include ./includes/proceedButton
include ./includes/utils


block content

    div.back-link-container
        a.link-back(href="/") Back to case list

        if licenceStatus.decisions.excluded
            div.error-banner.marginTopMedium
                strong.bold The offender is statutorily excluded from HDC
        else if licenceStatus.decisions.unsuitableResult
            div.error-banner.marginTopMedium
                strong.bold The offender is presumed unsuitable for HDC release

    if !user.role
        p Error
    else if !prisonerInfo
        p No offender details found
    else

        include prisonerDetails

        if user.role === 'CA'
            if (['UNSTARTED', 'ELIGIBILITY'].includes(licenceStatus.stage))
                include eligibilityTask
                if licenceStatus.decisions.eligible
                    include proposedAddressTask
                if allowedTransitions.caToRo
                    include caSubmitTask
                else if allowedTransitions.caToDmRefusal
                    include caSubmitRefusalTask

            else
                include curfewAddressTask
                if (['unfinished', 'approved'].includes(licenceStatus.decisions.curfewAddressApproved))
                    include riskManagementTask
                    include curfewHoursTask
                    include additionalConditionsTask
                    include reportingInstructionsTask
                    include finalChecksTask
                include postponementTask
                include HDCRefusalTask
                if allowedTransitions.caToDmRefusal
                    include caSubmitRefusalTask
                else
                    include caSubmitTask

        if user.role === 'RO'
            if (licenceStatus.decisions.optedOut)
                include optOutTask
            else
                include curfewAddressTask
                if (licenceStatus.decisions.curfewAddressApproved !== 'rejected')
                    include riskManagementTask
                    include curfewHoursTask
                    include additionalConditionsTask
                    include reportingInstructionsTask
                    include optOutTask
            include roSubmitTask

        if user.role === 'DM'
            include curfewAddressTask
            if (licenceStatus.decisions.curfewAddressApproved === 'approved')
                include riskManagementTask
                include curfewHoursTask
                include additionalConditionsTask
                include reportingInstructionsTask
                include finalChecksTask
            if licenceStatus.decisions.confiscationOrder
                include postponementTask


            include approvalTask
