extends ../layout
include ./includes/startContinueViewButton
include ./includes/utils


block content

    div.back-link-container
        a.link-back(href="/caselist/" + caseListTab) Back to case list

        if licenceStatus.decisions.excluded
            div.error-banner.marginTopMedium
                strong.bold The offender is statutorily excluded from HDC
        else if licenceStatus.decisions.unsuitableResult
            div.error-banner.marginTopMedium
                strong.bold The offender is presumed unsuitable for HDC release
        else if licenceStatus.decisions.refused
            div.error-banner.marginTopMedium
                strong.bold Home detention curfew refused - #{licenceStatus.decisions.refusalReason}

    if !user.role
        p Error
    else if !prisonerInfo
        p No offender details found
    else

        include prisonerDetails

        div.paddingBottom
            block tasks
