extends ../layout
include ./includes/proceedButton

block content

    div.back-link-container
        a.link-back(href="/") Back to case list

    if user.role === 'CA'
        h1.heading-large Check prisoner details
    else
        h1.heading-large HDC release tasks

    if !user.role
        p Error
    else if !prisonerInfo
        p No prisoner details found
    else

        include prisonerDetails

        if user.role === 'CA'
            if licenceStatus.stage === 'UNSTARTED' || licenceStatus.stage === 'ELIGIBILITY'
                include eligibilityTask
                include proposedAddressTask
            else
                include curfewAddressTask
                include additionalConditionsTask
                include riskManagementTask
                include reportingInstructionsTask
                include postponementTask
                include caSubmitTask


        if user.role === 'RO'
            include curfewAddressTask
            include additionalConditionsTask
            include riskManagementTask
            include reportingInstructionsTask
            include roSubmitTask

        if user.role === 'DM'
            include curfewAddressTask
            include additionalConditionsTask
            include riskManagementTask
            include reportingInstructionsTask
            include approvalTask
