extends taskListTemplate

block tasks
    each task in taskListModel
        -var taskName = task.task
        div.taskListItem.borderBottomLight
            if taskName === 'eligibilityTask'
                include tasks/eligibilityTask
            if taskName === 'informOffenderTask'
                include tasks/informOffenderTask
            if taskName === 'proposedAddressTask'
                include tasks/proposedAddressTask

            if taskName === 'bassOfferTask'
                include tasks/bassOfferTask
            if taskName === 'curfewAddressTask'
                include tasks/curfewAddressTask
            if taskName === 'riskManagementTask'
                include tasks/riskManagementTask
            if taskName === 'victimLiaisonTask'
                include tasks/victimLiaisonTask
            if taskName === 'curfewHoursTask'
                include tasks/curfewHoursTask
            if taskName === 'additionalConditionsTask'
                include tasks/additionalConditionsTask
            if taskName === 'reportingInstructionsTask'
                include tasks/reportingInstructionsTask
            if taskName === 'finalChecksTask'
                include tasks/finalChecksTask
            if taskName === 'postponementTask'
                include tasks/postponementTask
            if taskName === 'HDCRefusalTask'
                include tasks/HDCRefusalTask

            if taskName === 'eligibilitySummaryTask'
                include tasks/eligibilitySummaryTask
            if taskName === 'bassAddressTask'
                include tasks/bassAddressTask


            if taskName === 'caSubmitRefusalTask'
                include tasks/caSubmitRefusalTask
            if taskName === 'caSubmitBassReviewTask'
                include tasks/caSubmitBassReviewTask
            if taskName === 'caSubmitAddressReviewTask'
                include tasks/caSubmitAddressReviewTask
            if taskName === 'caSubmitApprovalTask'
                include tasks/caSubmitApprovalTask

            if taskName === 'createLicenceTask'
                include tasks/createLicenceTask
