- var incomplete = incompleteGroups && incompleteGroups.includes('reporting')
- var buttonState = incomplete ? 'UNSTARTED' : 'DONE'

div.paddingBottom
  h2.heading-medium Reporting dates

  div.pure-g
    div.pure-u-1.pure-u-md-3-4#reportingTaskStatus
      if incomplete
        | Not complete
      else
        | Complete
    div.pure-u-1.pure-u-md-1-4.center
      +startContinueChange(buttonState, "/hdc/reporting/reportingDate/" + templateName + "/" + prisoner.bookingId)




