
- var incomplete = incompleteGroups.includes('sentence')

div.taskListItem.borderBottomLight.largeMarginBottom
    h2.heading-medium Sentence dates and offender information

    div.pure-g
        if incomplete
            div.pure-u-3-4
                | Not complete
            div.pure-u-1-4.center
                +startContinueView('UNSTARTED', "/hdc/pdf/missing/sentenceInfo/" + templateName + "/" + prisoner.offenderNo)
        else
            div.pure-u-3-4
                | Complete


