extends ../layout

block content

    - var seriousOffenceValue = data.decision || null;

    div.pure-g.pure-u-1
        include ../includes/backToCheckList
        include ../includes/personalDetailsSummary

        div.pure-u-2-3
            h2.heading-large Is the offender under investigation, or been charged, for a serious offence committed during the current sentence?

    form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="nomisId" value=nomisId || '')
        div.smallPaddingTop.paddingBottom.largeMarginBottom

            div.largePaddingBottom
                div.form-group.inline
                    div.multiple-choice
                        input#seriousOffenceYes(type="radio" checked=seriousOffenceValue === 'Yes'  name="decision" value="Yes")
                        label(for="seriousOffenceYes") Yes
                    div.multiple-choice
                        input#seriousOffenceNo(type="radio" checked=seriousOffenceValue === 'No' name="decision" value="No")
                        label(for="seriousOffenceNo") No

            div.paddingBottom.smallPaddingTop
                div.pure-u-1.inlineButtons
                    input#continueBtn.requiredButton.button(type="submit" value="Save and continue")
