extends ../layout
include ../taskList/includes/startContinueViewButton

block content

    div.pure-g
        div.pure-u-1
            include ../includes/backToTaskList
            include ../includes/personalDetailsSummary

        div.pure-u-1.borderBottom
            h2.heading-large #{templateTitle}
            p You need to complete the following before you create the licence

        div.pure-u-1.largePaddingBottom
            include tasks/sentenceInfoTask
            include tasks/reportingTask
            include tasks/taggingTask

        if canPrint
            div.pure-u-1.borderTop
                include tasks/createLicenceTask
        else
            div.pure-u-1.borderTop.paddingTop
                div.pure-u-3-4 Some sections not completed
                p
                    a#selctTemplate(href="/hdc/pdf/select/" + nomisId) Select a different template

