extends ../layout
include ../taskList/includes/startContinueChangeButton

block content

  div.back-link-container
    a#backBtn.link-back(href="/hdc/pdf/selectLicenceType/" + bookingId) Back

  include ../includes/personalDetailsSummary

  div.pure-u-1.borderBottom
    h2.heading-large #{versionInfo.templateLabel}
    p You need to complete the following before you create the licence

  div.paddingBottom
    div.taskListItem.borderBottomLight
      include tasks/sentenceInfoTask

    if !postRelease
      div.taskListItem.borderBottom
        include tasks/firstNightTask

      div.taskListItem.borderBottom
        include tasks/reportingTask

    if postRelease
      div.taskListItem.borderBottom
        include tasks/varyApprovalTask

    div.taskListItem.borderBottom
      include tasks/createLicenceTask

    div.paddingTop
      include ../includes/caseListReturn

    if reSubmitToDm
      div.paddingTop
       include ../includes/backToDm
