extends ../layout
include ../taskList/includes/startContinueViewButton

block content

    div.back-link-container
        include ../includes/backToTaskList

    include ../includes/personalDetailsSummary

    div.pure-u-1.borderBottom
        h2.heading-large #{versionInfo.templateLabel}
        p You need to complete the following before you create the licence

    div.paddingBottom
        div.taskListItem.borderBottomLight
            include tasks/sentenceInfoTask

        div.taskListItem.borderBottom
            include tasks/reportingTask

        div.taskListItem.borderBottom
            include tasks/createLicenceTask


