extends ../layout

block content

    div.paddingTop
        p There are some missing details:
            ol
                each item in missing
                    li.missing.list-number #{item}

    div.pure-u-1.inlineButtons
        a#closeBtn.requiredButton.button.button-secondary.smallMarginTop(href="javascript: window.close();" role="button") Close

        a#backBtn.requiredButton.button.smallMarginTop(href="/hdc/pdf/create/"+nomisId role="button") Create licence PDF
