extends ../layout
include ../includes/errorBannerWithDetail

block content

  div.pure-g
    div.pure-u-1
      include ../includes/backToTaskList
      include ../includes/personalDetailsSummary
      +errorBannerWithDetail(errors, [
        {field: 'decision', message: 'Select yes or no'}
      ])

  div.pure-u-1.pure-u-md-1-2
    h2.heading-large Did they commit their offence before 1st February 2015?

  form(method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    input(type="hidden" name="bookingId" value=bookingId || '')
    div.form-group.inline
      div.multiple-choice
        input#seriousOffenceYes(type="radio" name="decision" value="Yes")
        label(for="seriousOffenceYes") Yes
      div.multiple-choice
        input#seriousOffenceNo(type="radio" name="decision" value="No")
        label(for="seriousOffenceNo") No

    div.largePaddingBottom.smallPaddingTop
          div.inlineButtons
            input#continueBtn.requiredButton.button(type="submit" value="Save and continue")

