div.paddingBottom
    h2.heading-medium Final decision

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            | #{statusLabel}
            if (licenceStatus.decisions.refused && licenceStatus.decisions.refusalReason)
                | : #{licenceStatus.decisions.refusalReason}
        div.pure-u-1.pure-u-md-1-4.center
            if (licenceStatus.stage === 'APPROVAL')
                -var path = '/hdc/approval/release/' + prisonerInfo.bookingId
                +continue(path)
