-var tasks = licenceStatus.tasks || {}
-var decisions = licenceStatus.decisions || {}

div.paddingBottom
    h2.heading-medium BASS address

    div.pure-g
        div.pure-u-1.pure-u-md-3-4

            if decisions.bassAreaNotSuitable
                span.alert.bold  BASS area rejected

            if decisions.bassWithdrawn
                if decisions.bassWithdrawalReason === 'offer'
                    span.alert.bold BASS offer withdrawn
                else
                    span.alert.bold BASS request withdrawn

            else if licenceStatus.tasks.bassOffer === 'DONE'
                -var offer = decisions.bassAccepted

                if offer === 'Yes'
                    | Offer made and property available
                else if offer === 'Waiting'
                    | Offer made and on waiting list

                else
                    div.pure-g
                        div.pure-u-1.pure-u-sm-3-5.notice-container
                            div.notice
                                i.icon.icon-important
                                    span.visually-hidden Warning
                                strong.bold-small
                                    if offer === 'Unsuitable'
                                        | Not suitable for BASS
                                    else
                                       | Address not available

            else if tasks.bassAreaCheck === 'DONE'
                if decisions.bassAreaSuitable
                    | Not completed
                else
                    | BASS referral requested

            else
                | BASS referral requested


        div.pure-u-1.pure-u-md-1-4.center
            -var bassOfferPath = "/hdc/bassReferral/bassOffer/" + prisonerInfo.bookingId
            -var curfewChoicePath = '/hdc/proposedAddress/curfewAddressChoice/' + prisonerInfo.bookingId
            -var reviewPath = "/hdc/review/bassOffer/" + prisonerInfo.bookingId

            if user.role == 'CA'
                if decisions.bassWithdrawn
                    +change(bassOfferPath)
                else if tasks.bassAreaCheck === 'DONE'
                    +startContinueChange(tasks.bassOffer, bassOfferPath)
                else
                    +startContinueChangeMulti([tasks.optOut, tasks.curfewAddress, tasks.bassRequest], curfewChoicePath)
            else
                +view(reviewPath)
