-var tasks = licenceStatus.tasks || {}
-var decisions = licenceStatus.decisions || {}
-var offer = decisions.bassAccepted

div.paddingBottom
    h2.heading-medium BASS address

    div.pure-g
        div.pure-u-1.pure-u-md-3-4

            if decisions.bassAreaNotSuitable
                span.alert.bold  BASS area rejected

            else if decisions.bassWithdrawn
                if decisions.bassWithdrawalReason === 'offer'
                    span.alert.bold BASS offer withdrawn
                else
                    span.alert.bold BASS request withdrawn

            else if licenceStatus.tasks.bassOffer === 'DONE'

                if offer === 'Yes'
                    if tasks.bassAddress === 'DONE'
                        | Offer made and address provided
                    else
                        | Offer made, awaiting address

                else
                    div.pure-g
                        div.pure-u-1.pure-u-sm-3-5.notice-container
                            div.notice
                                i.icon.icon-important
                                    span.visually-hidden Warning
                                strong.bold-small
                                    if offer === 'Unsuitable'
                                        | Not suitable for BASS
                                    else
                                       | Address not available

            else
                | Not completed


        div.pure-u-1.pure-u-md-1-4.center
            -var bassOfferPath = "/hdc/bassReferral/bassOffer/" + prisonerInfo.bookingId
            -var reviewPath = "/hdc/review/bassAddress/" + prisonerInfo.bookingId

            if user.role === 'CA'
                +startContinueChange(tasks.bassAddress, bassOfferPath)

            else
                +view(reviewPath)
