div.paddingBottom
    h2.heading-medium BASS area check

    div.pure-g
        div.pure-u-1.pure-u-md-3-4

            if licenceStatus.tasks.bassAreaCheck === 'DONE'
                -var approved = licenceStatus.decisions.bassAreaSuitable

                if approved
                    | BASS area suitable
                else
                    | BASS area is not suitable
            else
                | Not completed

        div.pure-u-1.pure-u-md-1-4.center
            -var bassAreaCheckPath = "/hdc/bassReferral/bassAreaCheck/" + prisonerInfo.bookingId

            +startContinueChange(licenceStatus.tasks.bassAreaCheck, bassAreaCheckPath)
