div.largeMarginBottom
    div
        h2.heading-medium Submit curfew address

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            if licenceStatus.tasks.curfewAddress === 'DONE'
                | Ready to submit
            else
                | Not completed

        div.pure-u-1.pure-u-md-1-4.center
            if licenceStatus.tasks.curfewAddress === 'DONE' && !licenceStatus.decisions.optedOut
                -var path = '/hdc/review/curfewAddress/' + prisonerInfo.bookingId
                +continue(path)
