div.largeMarginBottom
    div
        h2.heading-medium Send for BASS area checks

    div.pure-g

        if licenceStatus.decisions.optedOut
            div.pure-u-1.pure-u-md-3-4
                | Submission unavailable - Offender has opted out of HDC

        else
            div.pure-u-1.pure-u-md-3-4
                if ['STARTED', 'DONE'].includes(licenceStatus.tasks.bassRequest)
                    | Ready to submit
                else
                    | Not completed

            div.pure-u-1.pure-u-md-1-4.center
                if ['STARTED', 'DONE'].includes(licenceStatus.tasks.bassRequest)
                    -var path = '/hdc/review/bassRequest/' + prisonerInfo.bookingId
                    +continue(path)
