div.paddingBottom
    h2.heading-medium Curfew hours

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            if licenceStatus.tasks.curfewHours === 'DONE'
                | Confirmed
            else
                | Not completed

        div.pure-u-1.pure-u-md-1-4.center
            -var roleCanModify = user.role === 'RO' || user.role === 'CA'

            if postApproval && roleCanModify
                a.taskListAction.center.button.button-secondary(href="/hdc/curfew/curfewHours/" + prisonerInfo.bookingId) View/Edit

            else if user.role === 'RO'
                +startContinueView(licenceStatus.tasks.curfewHours, "/hdc/curfew/curfewHours/" + prisonerInfo.bookingId)

            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/curfewHours/" + prisonerInfo.bookingId) View
