div.paddingBottom
    h2.heading-medium Proposed curfew address

    if licenceStatus.decisions.optedOut
        div.pure-g
            div.pure-u-1.pure-u-md-3-4
                | Opted out

    else
        div.pure-g
            div.pure-u-1.pure-u-md-3-4
                -var curfewAddressApproved = licenceStatus.decisions.curfewAddressApproved;

                if curfewAddressApproved === 'approved'
                    | Address checked
                else if curfewAddressApproved === 'withdrawn'
                    span.bold.alert Address withdrawn
                else if curfewAddressApproved === 'rejected'
                    span.bold.alert Address rejected
                else
                    | Not completed

            div.pure-u-1.pure-u-md-1-4.center

                -var path = "/hdc/curfew/curfewAddressReview/" + prisonerInfo.bookingId
                -var withdrawnPath = "/hdc/curfew/consentWithdrawn/" + prisonerInfo.bookingId
                -var reviewPath = "/hdc/review/address/" + prisonerInfo.bookingId
                -var curfewAddressChoicePath = "/hdc/proposedAddress/curfewAddressChoice/" + prisonerInfo.bookingId

                if user.role === 'RO'
                    if curfewAddressApproved === 'rejected'
                        +change(path)
                    else
                        +startContinueChange(licenceStatus.tasks.curfewAddressReview, path)

                else if user.role === 'CA' && postApproval
                    if curfewAddressApproved === 'withdrawn'
                        +viewEdit(withdrawnPath)
                    else
                        +viewEdit(reviewPath)

                else if user.role === 'CA' && licenceStatus.stage === 'PROCESSING_CA'
                    if licenceStatus.tasks.curfewAddress !== 'DONE' && curfewAddressApproved === 'unstarted'
                        +startContinueChange(licenceStatus.tasks.curfewAddress, curfewAddressChoicePath)
                    else
                        +change(reviewPath)
                else
                    +view(reviewPath)
