div.paddingBottom
    h2.heading-medium Proposed curfew address

    div.pure-g
        if licenceStatus.decisions.optedOut
            div.pure-u-1.pure-u-md-3-4
                | Opted out

        else
            div.pure-u-1.pure-u-md-3-4
                if licenceStatus.decisions.addressWithdrawn
                    span.bold.alert Address withdrawn
                else if licenceStatus.decisions.addressReviewFailed
                    span.bold.alert Address rejected
                else if licenceStatus.stage.addressReview === 'DONE'
                    | Address checked
                else
                    | Not completed

        div.pure-u-1.pure-u-md-1-4.center

            -var path = "/hdc/curfew/curfewAddressReview/" + prisonerInfo.bookingId
            -var withdrawnPath = "/hdc/curfew/consentWithdrawn/" + prisonerInfo.bookingId
            -var reviewPath = "/hdc/review/address/" + prisonerInfo.bookingId
            -var curfewAddressChoicePath = "/hdc/proposedAddress/curfewAddressChoice/" + prisonerInfo.bookingId

            if user.role === 'RO'
                if licenceStatus.decisions.curfewAddressRejected
                    +change(path)
                else
                    +startContinueChange(licenceStatus.tasks.curfewAddressReview, path)

            else if user.role === 'CA' && postApproval
                if licenceStatus.decisions.addressWithdrawn
                    +viewEdit(withdrawnPath)
                else
                    +viewEdit(reviewPath)

            else if user.role === 'CA' && licenceStatus.stage === 'PROCESSING_CA'
                if licenceStatus.decisions.optedOut
                    +startContinueChange(licenceStatus.tasks.curfewAddress, curfewAddressChoicePath)

                else if licenceStatus.tasks.curfewAddress === 'UNSTARTED'
                    +startContinueChange(licenceStatus.tasks.curfewAddress, curfewAddressChoicePath)

                else
                    +change(reviewPath)
            else
                +view(reviewPath)
