div.paddingBottom
    h2.heading-medium Curfew hours

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            if licenceStatus.tasks.curfewHours === 'DONE'
                | Confirmed
            else
                | Not completed

        div.pure-u-1.pure-u-md-1-4.center

            -var path = '/hdc/curfew/curfewHours/' + prisonerInfo.bookingId
            -var reviewPath = '/hdc/review/curfewHours/' + prisonerInfo.bookingId

            -var canModify = postApproval && ['RO', 'CA'].includes(user.role)
            -var isFinalChecks = licenceStatus.stage === 'PROCESSING_CA' && user.role === 'CA'
            -var editable = canModify || isFinalChecks

            if editable
                +viewEdit(path)

            else if user.role === 'RO'
                +startContinueChange(licenceStatus.tasks.curfewHours, path)

            else
                +view(reviewPath)
