div.largeMarginBottom
  h2.heading-medium Check eligibility
  if licenceStatus.tasks.eligibility !== 'DONE'
    div.pure-g
      div.pure-u-1.pure-u-md-3-4
        | Not completed
      div.pure-u-1.pure-u-md-1-4.center.negativeMarginTop30
        if licenceStatus.tasks.eligibility === 'UNSTARTED'
          form(method="post", name="eligibilityStart", action='/hdc/taskList/eligibilityStart/')
            input(type="hidden" name="_csrf" value=csrfToken)
            if prisonerInfo
              input(type="hidden" name="bookingId" value=prisonerInfo.bookingId || '')
            if licenceStatus.tasks.eligibility === 'UNSTARTED'
              input.taskListAction.requiredButton.button(type='submit', value='Start now', id='eligibilityCheckStart')
        else
          a#continueBtn.taskListAction.center.button(href='/hdc/eligibility/excluded/' + prisonerInfo.bookingId) Continue

  else
    div.pure-g
      div.pure-u-1.pure-u-md-3-4
        div.pure-g
          div.pure-u-1.pure-u-3-4

            div.pure-g.borderTopLight.smallPaddingTopBottom
              div.pure-u-3-4.padRight15
                | Is the offender excluded from HDC?
              if licenceStatus.tasks.exclusion === 'DONE'
                div#excludedAnswer.pure-u-1-4.center.bold
                  if licenceStatus.decisions.excluded
                    | Yes
                  else
                    | No

            div.pure-g.borderTopLight.smallPaddingTopBottom
              div.pure-u-3-4.padRight15
                | Is the offender presumed unsuitable?
              if licenceStatus.decisions.excluded
                div#unsuitableAnswer.pure-u-1-4.center.bold N/A
              else if licenceStatus.tasks.suitability === 'DONE'
                div#unsuitableAnswer.pure-u-1-4.center.bold
                  if licenceStatus.decisions.unsuitable
                    | Yes
                  else
                    | No

            if !licenceStatus.decisions.excluded && licenceStatus.decisions.unsuitable
              div.pure-g.borderTopLight.smallPaddingTopBottom
                div.pure-u-3-4.padRight15
                  | Exceptional circumstances accepted?
                if licenceStatus.tasks.suitability === 'DONE'
                  div#exceptionalCircumstances.pure-u-1-4.center.bold
                    if licenceStatus.decisions.exceptionalCircumstances
                      | Yes
                    else
                      | No

            div.pure-g.borderTopLight.smallPaddingTopBottom
              div.pure-u-3-4.padRight15
                | Is there less than 4 weeks to the conditional release date?
              if licenceStatus.decisions.excluded || licenceStatus.decisions.unsuitableResult
                div#crdTimeAnswer.pure-u-1-4.center.bold N/A
              else if licenceStatus.tasks.crdTime === 'DONE'
                div#crdTimeAnswer.pure-u-1-4.center.bold
                  if licenceStatus.decisions.insufficientTime
                    | Yes
                  else
                    | No

            if licenceStatus.decisions.insufficientTime
              div.pure-g.borderTopLight.smallPaddingTopBottom
                div.pure-u-3-4.padRight15
                  | Has the decision maker given approval to continue the HDC case?
                div#dmApprovalToContinue.pure-u-1-4.center.bold
                  if licenceStatus.decisions.insufficientTimeContinue
                    | Yes
                  else
                    | No

      div.change.pure-u-1.pure-u-md-1-4.center
        -var path = '/hdc/eligibility/excluded/'+prisonerInfo.bookingId
        +change(path, 'eligibilityCheckUpdate')

