div.pure-g
    div.pure-u-1.pure-u-md-3-4.paddingTop
        if licenceStatus.decisions.refused
            span.alert.bold HDC refused

    div.pure-u-1.pure-u-md-1-4.center.midPaddingTopBottom
        a.taskListAction.center.button.button-secondary(href="/hdc/finalChecks/refuse/" + prisonerInfo.bookingId)
            if licenceStatus.decisions.refused
                | Update refusal
            else
                | Refuse HDC
