div.pure-g
    div.pure-u-1.pure-u-md-3-4.paddingTop
        if licenceStatus.decisions.refused
            span.alert.bold HDC refused
        else
            span Refuse the case if there is no suitable address or not enough time

    div.pure-u-1.pure-u-md-1-4.center.midPaddingTopBottom
        -var path = '/hdc/finalChecks/refuse/' + prisonerInfo.bookingId
        if licenceStatus.decisions.refused
            +taskButton(path, 'Update refusal')
        else
            +taskButton(path, 'Refuse HDC', 'grey')
