div.largeMarginBottom

    h2.heading-medium Inform the offender

    div.pure-g

        div.pure-u-1.pure-u-md-3-4
            | You should now tell the offender using the relevant form

        div.pure-u-1.pure-u-md-1-4.center
            +taskButton("/caseList/" + caseListTab, 'Back to case list')
