div.largeMarginBottom

    h2.heading-medium Submit BASS request

    div.pure-g

        div.pure-u-1.pure-u-md-3-4
            | The BASS area has been approved by the responsible officer. You should now submit the request to BASS

        div.pure-u-1.pure-u-md-1-4.center
            +taskButton("/caseList/", 'Back to case list', 'grey')
