div.largeMarginBottom
    h2.heading-medium Curfew address and opt out
    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            if licenceStatus.tasks.curfewAddress === 'UNSTARTED'
                | Not completed
            else if licenceStatus.decisions.optedOut
                | Offender has opted out of HDC
            else if licenceStatus.decisions.bassReferralNeeded
                | Offender has opted in and requested BASS referral
            else if licenceStatus.decisions.curfewAddressApproved === 'rejected'
                span.alert.bold Address rejected
            else if licenceStatus.stage !== 'ELIGIBILITY'
                | Proposed address information sent to RO
            else
                | Completed

        div.pure-u-1.pure-u-md-1-4.center

            -var rejectedPath = "/hdc/proposedAddress/rejected/" + prisonerInfo.bookingId
            -var optoutPath = '/hdc/proposedAddress/optOut/' + prisonerInfo.bookingId

            if (licenceStatus.decisions.curfewAddressApproved === 'rejected')
                +startContinueChange(licenceStatus.tasks.curfewAddress, rejectedPath)

            else
                +startContinueChangeMulti([licenceStatus.tasks.optOut, licenceStatus.tasks.curfewAddress], optoutPath)
