div.paddingBottom
    h2.heading-medium Reporting instructions

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            if licenceStatus.tasks.reportingInstructions === 'DONE'
                div Confirmed
            else
                | Not completed

        div.pure-u-1.pure-u-md-1-4.center

            -var path = "/hdc/reporting/reportingInstructions/" + prisonerInfo.bookingId
            -var reviewPath = "/hdc/review/reporting/" + prisonerInfo.bookingId

            -var canModify = postApproval && ['RO', 'CA'].includes(user.role)

            if canModify
                +viewEdit(path)

            else if user.role === 'RO'
                +startContinueChange(licenceStatus.tasks.reportingInstructions, path)

            else
                +view(reviewPath)
