div.paddingBottom
    h2.heading-medium Reporting instructions

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            if licenceStatus.tasks.reportingInstructions === 'DONE'
                div Confirmed
            else
                | Not completed

        div.pure-u-1.pure-u-md-1-4.center

            -var roleCanModify = user.role === 'RO' || user.role === 'CA'

            if postApproval && roleCanModify
                a.taskListAction.center.button.button-secondary(href="/hdc/reporting/reportingInstructions/" + prisonerInfo.bookingId) View/Edit

            else if user.role === 'RO'
                +startContinueView(licenceStatus.tasks.reportingInstructions, "/hdc/reporting/reportingInstructions/" + prisonerInfo.bookingId)
            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/reporting/" + prisonerInfo.bookingId) View
