div.paddingBottom
    h2.heading-medium Risk management and victim liaison

    div.pure-g
        div.pure-u-1.pure-u-md-3-4
            if licenceStatus.tasks.riskManagement === 'DONE'

                if licenceStatus.decisions.riskManagementNeeded || licenceStatus.decisions.victimLiasionNeeded
                    div.pure-g
                        div.pure-u-1.pure-u-sm-3-5.notice-container
                            div.notice
                                i.icon.icon-important
                                    span.visually-hidden Warning

                                if licenceStatus.decisions.riskManagementNeeded
                                    strong.bold-small
                                        | Risk management required
                                else
                                    strong
                                        | No risks

                                if licenceStatus.decisions.victimLiasionNeeded
                                    strong.bold-small
                                        | Victim liaison required
                                else
                                    strong
                                        | No victim liaison required
                else

                    div No risks
                    div No victim liaison required

            else
                | Not completed

        div.pure-u-1.pure-u-md-1-4.center
            -var roleCanModify = user.role === 'RO' || user.role === 'CA'
            -var editable = licenceStatus.stage === 'PROCESSING_CA' && user.role === 'CA'

            if (postApproval && roleCanModify || editable)
                a.taskListAction.center.button.button-secondary(href="/hdc/risk/riskManagement/" + prisonerInfo.bookingId) View/Edit

            else if user.role === 'RO'
                +startContinueView(licenceStatus.tasks.riskManagement, "/hdc/risk/riskManagement/" + prisonerInfo.bookingId)

            else
                a.taskListAction.center.button.button-secondary(href="/hdc/review/risk/" + prisonerInfo.bookingId) View
