div.paddingBottom.borderBottomLight
    h2.heading-medium Submit to PCA

    div.pure-g
        div#submitPcaStatus.pure-u-1.pure-u-md-3-4
            if licenceStatus.stage === 'PROCESSING_RO'
                if allowedTransition === 'roToCa'
                    | Ready to submit
                else
                    | Tasks not yet complete
            else
                | #{statusLabel}
        div.pure-u-1.pure-u-md-1-4.center
            if licenceStatus.stage === 'PROCESSING_RO'

                if licenceStatus.decisions.optedOut
                    a.taskListAction.center.button(href="/hdc/send/optedOut/" + prisonerInfo.bookingId)
                        | Continue

                else
                    a.taskListAction.center.button(href="/hdc/review/licenceDetails/" + prisonerInfo.bookingId)
                        | Continue
