div.taskListSingleLineItem.midPaddingBottom
    div.pure-u-1.pure-u-md-3-4
        h2.heading-medium Permission for variation

    div.pure-u-1.pure-u-md-1-4.center.buttonContainer
        +change('/hdc/vary/evidence/' + prisonerInfo.bookingId)
