
div.taskListSingleLineItem.u-paddingBottom.sm-midPaddingBottom.pure-g
    div.pure-u-1.pure-u-md-3-4
        h2.heading-medium Vary licence
        p You can now only vary this licence on the Create and vary a licence service.

    div.pure-u-1.pure-u-md-1-4.center.buttonContainer
        a#continueBtn.taskListAction.button(
            href=`${createAndVaryALicenceVaryCaseloadUrl}`
            style="width: 100%; text-align: center;"
        ) Go to Create and vary a licence
