div.paddingBottom.smallPaddingTop
  div.pure-u-1.inlineButtons
    p.lede Resubmit back to DM if a reconsideration is required
    a#backToDm.requiredButton.button.button-secondary.smallMarginTop(href="/hdc/send/approval/"+ bookingId role="button" name='backToDm') Resubmit to DM

