mixin errorBannerWithDetail(errorObject, errors)
  if errorObject && Object.keys(errorObject).length !== 0
    div.pure-g
      div.error-summary.pure-u-md-1-2(role="alert" aria-labelledby="error-summary-heading" tabindex="-1")
        h2.heading-medium.error-summary-heading#error-summary-heading
          | There is a problem
        ul.error-summary-list
          each error in errors
            if errorObject[error.field]
              li
                a(href="#error-anchor")  #{error.message || errorObject[error.field]}
