if Object.keys(errorObject).length !== 0
    div.error-summary(role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1")
        h2.heading-medium.error-summary-heading.center.noMargin#error-summary-heading-example-1
            | There are errors with your submission - see below
