if licenceStatus && licenceStatus.decisions && licenceStatus.decisions.unsuitable && licenceStatus.decisions.exceptionalCircumstances
    div.notice-container.midMarginBottom
        div.notice.center
            strong.bold-small The offender is presumed unsuitable for HDC release but there are exceptional circumstances
