if Object.keys(prisoner).length > 0
  div.borderTopLight.borderBottomLight.midPaddingTopBottom
    ul.inlineList.padRight30.block
      li.padRight30 Name&nbsp;&nbsp;
        span#prisonerName.bold #{prisoner.firstName} #{prisoner.lastName}

      li.padRight30.block Prison Number&nbsp;&nbsp;
        span#prisonerPrisonNumber.bold #{prisoner.offenderNo}

      li.block Date of birth&nbsp;&nbsp;
        span#prisonerDob.bold #{prisoner.dateOfBirth}
