extends ../layout

block content

  include ./mixins/sentMixin

  if submissionTarget
    +sentContent('Case sent', submissionTarget.name)
  else
    +sentContent('Case sent', 'No community offender manager found')


