extends ../layout

block content

  include ./mixins/sentMixin

  if submissionTarget && submissionTarget.com
    +sentContent('Case sent', submissionTarget.com.name)
  else
    +sentContent('Case sent', 'No responsible officer found')


