extends ../layout

block content

    div.pure-g.largeMarginBottom
        div.pure-u-3-5
            div.confirm-banner
                div.pure-g
                    div.pure-u-md-1-8.smallMarginTop.smallPaddingTop.padLeft15
                        img(src="/public/images/large_tick.svg" alt="white tick" height="80px")
                    div.pure-u-md-7-8
                        if user.role == 'CA'
                            if status == 'PROCESSING_RO'
                                div.heading-large Address information submitted
                            else if status == 'APPROVAL'
                                div.heading-large Submitted for approval

                        else if user.role == 'RO'
                            div.heading-large Licence information sent

                        else if user.role == 'DM'
                            div.heading-large Submitted to the prison case admin

    div
        a#backBtn.requiredButton.button.button-secondary.largeMarginBottom(href='/' role="button") Return to case list


