extends ../layout

block content

    div.column-two-thirds
        div.confirm-banner
            div.heading-large Discharge information sent

        p The information has been sent to:

        div#agencyDetails.block.bold Offender Management Unit
            div#agencyName #{agency.name}
            div#agencyTel Tel: #{agency.telephone}

        a#backBtn.requiredButton.button.button-secondary(href="/" role="button") Back to dashboard


