extends ../layout-grid

block content

    div.pure-g
        div.pure-u-2-3

            div.confirm-banner
                div.heading-large Discharge information sent

            p The information has been sent to:

        div#agencyDetails.block.bold.paddingBottom Offender Management Unit
            div#agencyName #{agency.name}
            div#agencyTel Tel: #{agency.telephone}

        a#backBtn.requiredButton.button.button-secondary.largeMarginBottom(href="/" role="button") Back to dashboard


