extends ../layout

block content

    div.column-two-thirds
        div.confirm-banner
            div.heading-large Sent for approval

        a.requiredButton.button.button-secondary(href="/" role="button") Back to dashboard


