extends ../layout

block content

    include ./mixins/sentCaMixin

        if submissionTarget && submissionTarget
            +sentContent('Case sent', submissionTarget)
        else
            +sentContent('Case sent', 'No prison details found')
