extends ../layout

block content

  div.pure-g.pure-u-1
    include ../includes/back

    div.pure-u-1-2
      h2.heading-large BASS withdrawn

      p Would you like to enter a new BASS request?

      include ./includes/newBassForm
