extends ../layout
include ../includes/alternativeForm

block content

    -var bassRequest = data.bassRequest || {}
    -var bassAreaCheck = data.bassAreaCheck || {}

    div.pure-g.pure-u-1
        include ../includes/back

        h2.heading-large BASS area rejected
        p The following BASS area has been returned by the Responsible Officer:

        div.pure-g.borderBottomLight
            div.pure-u-1.pure-u-md-1-2
                p.smallMarginBottom Area
                div.paddingBottom
                    if bassRequest.proposedCounty
                        p#proposedCounty.bold.noMargin #{bassRequest.proposedCounty}
                    if bassRequest.proposedTown
                        p#proposedTown.bold.noMargin #{bassRequest.proposedTown}

            div.pure-u-1.pure-u-md-1-2.paddingBottom
                p.smallMarginBottom Reason for rejection:
                    p#bassAreaReason.bold #{bassAreaCheck.bassAreaReason}


        div.largePaddingBottom
            +alternativeForm('area')
