div.no-break.smallPaddingBottom#bassArea
  h2 CAS2 Case
  p Proposed area for release
    table.wide.noborder
      if (bassRequest.specificArea === 'Yes')
        tr
          td Town
          td.entry #{bassRequest.proposedTown}
        tr
          td County
          td.entry #{bassRequest.proposedCounty}
        tr
          td Is this CAS2 area approved?
          td.entry #{bassAreaCheck.bassAreaSuitable}
      else
        tr
          td.entry(colspan="2") No specific area
      tr
        td Comments
        td.entry #{bassAreaCheck.bassAreaReason}


