div.no-break.smallPaddingBottom#licenceConditions
  h2 Licence conditions
  ol
    for condition in conditions.standardConditions
      li
        | !{condition}
    for condition in conditions.additionalConditions
      li
        | !{condition}
