div.no-break.probationCompleted
  h3  Completed by
  table.wide.noborder
    tr
      td Name
      td.entry #{responsibleOfficer.name}

    tr
      td Email
      td.entry

    tr
      td Date
      td.entry #{completionDate}
