extends ../layout

block content
    div.grid-row
        div.column-one-half
            h1.heading-xlarge Licences Application

            div You are logged in
                p For sale
                    ul.list.list-bullet
                        li Fish licence
                        li Cat licence


