extends ../layout
include ../proposedAddress/includes/addressDetail

block content

    -var review = data.curfew && data.curfew.curfewAddressReview ? data.curfew.curfewAddressReview : {}
    -var addressSafety = data.curfew && data.curfew.addressSafety ? data.curfew.addressSafety : {}
    -var address = data.proposedAddress && data.proposedAddress.curfewAddress ? data.proposedAddress.curfewAddress : {}
    -var addressWithdrawn = address.addressWithdrawn === 'Yes'
    -var consentWithdrawn = address.consentWithdrawn === 'Yes'

    div.pure-g.pure-u-1
        div
            include ../includes/backToCheckList
            include ../includes/personalDetailsSummary

            if addressWithdrawn || consentWithdrawn
                -var message = addressWithdrawn ? 'The offender has withdrawn this address' : 'The Homeowner/landlord has withdrawn consent for this address'
                div.pure-g
                    div.error-summary.pure-u-1.center(role="alert" aria-labelledby="error-summary-heading" tabindex="-1")
                        h2.heading-medium.error-summary-heading.noMargin#error-summary-heading #{message}

            h2.heading-large Proposed address

            if address
                div.pure-u-1-2.midPaddingBottom
                    The following address has been requested by the offender and checked by the RO.

                +addressDetail('curfew', address, review, addressSafety)

                if ['PROCESSING_CA', 'DECIDED', 'MODIFIED', 'MODIFIED_APPROVAL'].includes(stage)
                    div.borderBottomLightMedium.borderTopLight.marginBottomLarge
                        include ./includes/addressActions

            else
                p NO ADDRESS
