extends ../layout
include includes/additionalConditions

block content

  include ../includes/backToCheckList
  include ../includes/personalDetailsSummary

  div.largePaddingBottom
    if data.licenceConditions && data.licenceConditions.length > 0
      h2.heading-medium Additional conditions
      p The additional conditions that have been added by the COM are displayed below..
      div.borderBottomLight
      - var allowEdit = (user.role !== 'DM') ? 'editable' : ''
      +additionalConditions(allowEdit)
      div.pure-g.borderBottomLight.midPaddingTopBottom
        div.pure-u-1.pure-u-md-18-24.sm-padRight30.u-paddingBottom
          div.heading-small.noMargin.smallPaddingBottom Explain why you selected these conditions
          div.conditionSummary.content(data-qa="additionalConditionsJustification") #{data.additionalConditionsJustification}

    else
      h2#message.heading-medium No additional conditions have been selected.
