extends ../layout
include ../licenceDetails/additionalConditions

block content

    div.back-link-container.smallPaddingTop
        a.link-back(href="javascript: window.history.back();") Back

    div.largePaddingBottom
        if data.licenceConditions && data.licenceConditions.length > 0
            h2.heading-medium Additional conditions
            p The additional conditions that have been added by the RO are displayed below..
            div.borderBottomLight
            +additionalConditions()

        else
            h2#message.heading-medium No additional conditions have been selected.

        include ../includes/taskListReturn
