extends ../layout

block content

    - var errorsOnPage = Object.keys(errorObject).length !== 0;
    - var addressChanged = licenceStatus.stage === 'PROCESSING_CA' && licenceStatus.tasks.curfewAddressReview === 'UNSTARTED';

    include ../includes/backToTaskList

    if errorsOnPage
        div.error-summary(role="alert" aria-labelledby="error-summary-heading" tabindex="-1")
            h2.heading-medium.error-summary-heading.center.noMargin#error-summary-heading
                | There are unanswered questions - see below

    h1.heading-large Proposed address
    div.largeMarginBottom

        include ../taskList/prisonerDetails

        div.pure-g.borderBottomLight
            div.pure-u-md-1-2
                h2#curfewAddressDetails.heading-medium Proposed curfew address
            div.pure-u-md-1-2.alignRight
                div.pure-u-md-1-2.change-details
                    if (stage === 'PROCESSING_RO' && user.role === 'RO')
                        a#addressEditLink(href="/hdc/curfew/curfewAddressReview/" + nomisId) Change these details
                    if(user.role === 'CA' && (stage === 'ELIGIBILITY' || addressChanged))
                        a#addressEditLink(href="/hdc/proposedAddress/curfewAddress/" + nomisId) Change these details

        if typeof errorObject.proposedAddress === 'string'
            p.alert.bold(id='proposed-address-error') #{errorObject.proposedAddress}
        else if errorObject.proposedAddress && typeof errorObject.proposedAddress.curfewAddress === 'string'
            p.alert.bold(id='proposed-address-error') #{errorObject.proposedAddress.curfewAddress}
        else
            include ./includes/curfewAddress

    div.paddingBottom.smallPaddingTop
        div.pure-u-1.inlineButtons
            if !errorsOnPage
                a#continueBtn.button.button-primary.smallMarginTop(href="/hdc/send/addressReview/" + nomisId role="button")
                    | Continue
            else
                a#correctAddressLink(href="/hdc/proposedAddress/curfewAddress/" + nomisId) Correct the errors before continuing
