extends ../layout

block content

    include ../includes/backToTaskList

    if Object.keys(errorObject).length !== 0
        div.error-summary(role="alert" aria-labelledby="error-summary-heading" tabindex="-1")
            h2.heading-medium.error-summary-heading.center.noMargin#error-summary-heading
                | There are unanswered questions - see below

    include includes/licenceSummary

    div.paddingBottom.smallPaddingTop
        div.pure-u-1.inlineButtons
            a#continueBtn.button.button-primary.smallMarginTop(href="/hdc/send/" + nomisId role="button")
                | Continue
