//- Read only licence view eg from caselist when case is with a different role
extends ../layout

block content

  if user.role === 'CA'
    include ../includes/back-and-forms
  else
    include ../includes/back

  h1.heading-large Licence details
  include ../taskList/prisonerDetails
  include includes/licenceSummary

  include ../includes/caseListReturn
