//- Review licence content prior to submission to next stage eg RO submit to CA
extends ../layout
include ../includes/errorBannerWithDetail

block content

    include ../includes/back

    if Object.keys(errorObject).length !== 0
        div.error-summary(role="alert" aria-labelledby="error-summary-heading" tabindex="-1")
            h2.heading-medium.error-summary-heading.center.noMargin#error-summary-heading
                | There is a problem

    h1.heading-large Check the information before submitting the case
    include ../includes/personalDetailsSummary
    include includes/licenceSummary

    div.paddingBottom.smallPaddingTop
        div.pure-u-1.inlineButtons

            if licenceStatus.decisions.optedOut
                a#continueBtn.button.button-primary.smallMarginTop(href="/hdc/send/optedOut/" + bookingId role="button")
                    | Continue

            else if licenceStatus.decisions.curfewAddressApproved === 'rejected'
                a#continueBtn.button.button-primary.smallMarginTop(href="/hdc/send/addressRejected/" + bookingId role="button")
                    | Continue

            else
                a#continueBtn.button.button-primary.smallMarginTop(href="/hdc/send/finalChecks/" + bookingId role="button")
                    | Continue
