extends ../layout

block content

    include ../includes/back

    include includes/licenceSummary

    include ../includes/caseListReturn

        if user.role === 'CA' && licenceStatus.decisions.approved
            a#createPdf.requiredButton.button.smallMarginTop(href="/hdc/pdf/view/"+nomisId target="_blank" role="button") Create licence PDF
