extends ../layout

block content

    include ../includes/backToTaskList

    include includes/licenceSummary

    div.paddingBottom.smallPaddingTop
        div.pure-u-1.inlineButtons
            a#continueBtn.button.button-primary.smallMarginTop(href="/hdc/send/" + nomisId role="button")
                | Continue
