include ./itemAndError
-var bassApprovedPremisesRequired = data.bassReferral && data.bassReferral.bassAreaCheck && data.bassReferral.bassAreaCheck.approvedPremisesRequiredYesNo === 'Yes'

-var address = !bassApprovedPremisesRequired && data.curfew && data.curfew.approvedPremisesAddress || data.bassReferral && data.bassReferral.approvedPremisesAddress ||{}
-var errors = !bassApprovedPremisesRequired && errorObject.curfew && errorObject.curfew.approvedPremisesAddress || errorObject.bassReferral && errorObject.bassReferral.approvedPremisesAddress ||{}

div.pure-g.borderBottomLight.midPaddingTopBottom
  div.pure-u-1-2
    | Address
  div.pure-u-1-2#addressDetails

    +itemAndError(address.addressLine1, errors.addressLine1, "address1")
    if address.addressLine2
      span#address2.block.bold #{address.addressLine2}
    +itemAndError(address.addressTown, errors.addressTown, "town")
    +itemAndError(address.postCode, errors.postCode, "postCode")

div.pure-g.midPaddingTopBottom
  div.pure-u-1-2
    | Contact number
  div.pure-u-1-2
    div
      +itemAndError(address.telephone, errors.telephone, "telephone")
