include ./itemAndError
-var bassAreaCheck = data.bassReferral && data.bassReferral.bassAreaCheck || {}
-var errors = errorObject.bassReferral && errorObject.bassReferral.bassAreaCheck || {}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Is the BASS area suitable?
    div.pure-u-1-2#bassAreaDetails
        +itemAndError(bassAreaCheck.bassAreaSuitable, errors.bassAreaSuitable, "suitableArea")

    if bassAreaCheck.bassAreaSuitable === 'No'
        div.pure-u-1-2
            span Reasons
        div.pure-u-1-2#bassReasonDetails
            +itemAndError(bassAreaCheck.bassAreaReason, errors.bassAreaReason, "areaReason")

