include ./itemAndError
-var request = data.bassReferral && data.bassReferral.bassRequest || {}
-var errors = errorObject.bassReferral && errorObject.bassReferral.bassRequest || {}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        span Proposed town
    div.pure-u-1-2#bassTownDetails
        +itemAndError(request.proposedTown, errors.proposedTown, "proposedTown")

    div.pure-u-1-2
        span Proposed county
    div.pure-u-1-2#bassCountyDetails
        +itemAndError(request.proposedCounty, errors.proposedCounty, "proposedCounty")

