include additionalConditions

div.largeMarginBottom

    // Proposed address
    div.borderBottom
        div.pure-g
            div.pure-u-md-1-2
                h2#curfewAddressDetails.heading-medium Proposed curfew address
            div.pure-u-md-1-2.alignRight
                div.pure-u-md-1-2.change-details
                    if (stage === 'PROCESSING_RO' && user.role === 'RO')
                        a#addressEditLink(href="/hdc/curfew/curfewAddressReview/" + bookingId) Change these details
                    if(stage === 'ELIGIBILITY' && user.role === 'CA')
                        a#addressEditLink(href="/hdc/proposedAddress/curfewAddress/" + bookingId) Change these details

        if typeof errorObject.proposedAddress === 'string'
            p.alert.bold(id='proposed-address-error') #{errorObject.proposedAddress}
        else
            include curfewAddress

    if (licenceStatus.decisions.curfewAddressApproved !== 'rejected')

        // Risk
        div.borderBottom
            div.pure-g
                div.pure-u-md-1-2
                    h2#riskDetails.heading-medium Risk management and victim liaison
                if (stage === 'PROCESSING_RO' && user.role === 'RO')
                    div.pure-u-md-1-2.alignRight
                        div.pure-u-md-1-2.change-details
                            a#riskEditLink(href="/hdc/risk/riskManagement/" + bookingId) Change these details

            if typeof errorObject.risk === 'string'
                p.alert.bold(id='risk-error') Enter the risk management and victim liaison details
            else
                include riskManagement

        // Curfew hours
        div.borderBottom
            div.pure-g
                div.pure-u-md-1-2
                    h2#curfewHoursDetails.heading-medium Proposed HDC curfew hours
                if (stage === 'PROCESSING_RO' && user.role === 'RO')
                    div.pure-u-md-1-2.alignRight
                        div.pure-u-md-1-2.change-details
                            a#curfewHoursEditLink(href="/hdc/curfew/curfewHours/" + bookingId) Change these details

            if typeof errorObject.curfew === 'string'
                p.alert.bold(id='curfew-hours-error') Select the proposed curfew hours
            else
                include curfewHours

        // Additional condition
        div.borderBottom
            -var standardOnly = licenceStatus.decisions.standardOnly
            -var linkTo = standardOnly ?  'standard' : 'additionalConditions'

            div.pure-g
                div.pure-u-md-1-2
                    h2.heading-medium Additional conditions
                if (stage === 'PROCESSING_RO' && user.role === 'RO')
                    div.pure-u-md-1-2.alignRight
                        div.pure-u-md-1-2.change-details
                            a#conditionsEditLink(href="/hdc/licenceConditions/" + linkTo + "/" + bookingId) Change these details

            if typeof errorObject.licenceConditions === 'string'
                p.alert.bold(id='additional-conditions-error') #{errorObject.licenceConditions}
            else
                if standardOnly
                    p No additional conditions selected
                else if data.licenceConditions && data.licenceConditions.length > 0
                    +additionalConditions()
                else
                    p(id='noConditionsError' class="bold alert") Select one or more additional conditions

        // Reporting instructions
        div.borderBottom
            div.pure-g
                div.pure-u-md-1-2
                    h2#reportingDetails.heading-medium Reporting instructions
                if (stage === 'PROCESSING_RO' && user.role === 'RO')
                    div.pure-u-md-1-2.alignRight
                        div.pure-u-md-1-2.change-details
                            a#reportingEditLink(href="/hdc/reporting/reportingInstructions/" + bookingId) Change these details

            if typeof errorObject.reporting === 'string'
                p.alert.bold(id='reporting-error') Enter the reporting instructions
            else
                include reportingInstructions
