include ./itemAndError
-var reportingInstructions = data.reporting && data.reporting.reportingInstructions || {}
-var errors = errorObject.reporting && errorObject.reporting.reportingInstructions || {}

div.pure-g.borderBottomLight.midPaddingTopBottom
  div.pure-u-1-2
    div.pure-g
      div.pure-u-3-4
        span.block Name
        span.block Organisation
  div.pure-u-1-2
    div.pure-g
      div.pure-u-2-3
        +itemAndError(reportingInstructions.name, errors.name, "reportingName")
        +itemAndError(reportingInstructions.organisation, errors.organisation, "reportingOrganisation")

div.pure-g.borderBottomLight.midPaddingTopBottom
  div.pure-u-1-2
    div.pure-g
      div.pure-u-3-4
        span Address
  div.pure-u-1-2
    +itemAndError(reportingInstructions.buildingAndStreet1, errors.buildingAndStreet1, "reportingAddress1")
    +itemAndError(reportingInstructions.buildingAndStreet2, errors.buildingAndStreet2, "reportingAddress2")
    +itemAndError(reportingInstructions.townOrCity, errors.townOrCity, "reportingTown")
    +itemAndError(reportingInstructions.postcode, errors.postcode, "reportingPostCode")

div.pure-g.borderBottomLight.midPaddingTopBottom
  div.pure-u-1-2
    div.pure-g
      div.pure-u-3-4
        span Contact number
  div.pure-u-1-2
    +itemAndError(reportingInstructions.telephone, errors.telephone, "reportingTelephone")

div.pure-g.borderBottomLight.midPaddingTopBottom
  div.pure-u-1-2
    div.pure-g
      div.pure-u-3-4
        span Reporting date
  div.pure-u-1-2
    +itemAndError(reportingInstructions.reportingDate, errors.reportingDate, "reportingDate")

div.pure-g.borderBottomLight.midPaddingTopBottom
  div.pure-u-1-2
    div.pure-g
      div.pure-u-3-4
        span Reporting time
  div.pure-u-1-2
    +itemAndError(reportingInstructions.reportingTime, errors.reportingTime, "reportingTime")
