h2#riskDetails.heading-medium.borderBottomLightThick.separatorTitle Risk management and victim liaison

-var risk = data.risk.riskManagement

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Are there any risk management planning actions that must take place prior to release?
    div.pure-u-1-2
        div.pure-g
            div.pure-u-2-3
                if risk.planningActions
                    span#planningActions.bold #{risk.planningActions}
            div.pure-u-1-3.alignRight
                if (stage === 'PROCESSING_RO'  && user.role === 'RO')
                    a#riskEditLink(href="/hdc/risk/riskManagement/" + nomisId) Change these details

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Are you still waiting for information to inform risk management planning?
    div.pure-u-1-2
        if risk.awaitingInformation
            span#awaitingInformation.bold #{risk.awaitingInformation}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Is this a Victim Contact Service qualifying case where the victim has opted in?
    div.pure-u-1-2
        if risk.victimLiaison
            span#victimLiaison.bold #{risk.victimLiaison}


