include ./itemAndError
-var risk = data.risk && data.risk.riskManagement || {}
-var errors = errorObject.risk && errorObject.risk.riskManagement || {}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Are there any risk management planning actions that must take place prior to release?
    div.pure-u-1-2
        div.pure-g
            div.pure-u-2-3
                +itemAndError(risk.planningActions, errors.planningActions, "planningActions")
                +itemAndError('', errors.planningActionsDetails && 'Details not entered', "planningActionsDetails")

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Are you still waiting for information to inform risk management planning?
    div.pure-u-1-2
        +itemAndError(risk.awaitingInformation, errors.awaitingInformation, "awaitingInformation")
        +itemAndError('', errors.awaitingInformationDetails && 'Details not entered', "awaitingInformationDetails")

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            div.pure-u-3-4
                span Is this a Victim Contact Service qualifying case where the victim has opted in?
    div.pure-u-1-2
        +itemAndError(risk.victimLiaison, errors.victimLiaison, "victimLiaison")
        +itemAndError('', errors.victimLiaisonDetails && 'Details not entered', "victimLiaisonDetails")
