include ./itemAndError
-var risk = data.risk && data.risk.riskManagement || {}
-var errors = errorObject.risk && errorObject.risk.riskManagement || {}

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            span.pure-u-3-4 Are there any risk management planning actions that must take place prior to release?
    div.pure-u-1-2
        +itemAndError(risk.planningActions, errors.planningActions, "planningActions")


div.pure-g.borderBottomLight.midPaddingTopBottom
        div.pure-u-1-2
            div.pure-g
                span.pure-u-3-4 Are you still waiting for information to inform risk management planning?

        div.pure-u-1-2
            if risk.awaitingInformation === 'Yes'
                div.pure-g
                    div.pure-u-1.pure-u-sm-3-5.notice-container
                        div.notice
                            i.icon.icon-important
                                span.visually-hidden Warning

                            strong.bold-small Still waiting for information
            else
                +itemAndError(risk.awaitingInformation, errors.awaitingInformation, "awaitingInformation")

if risk.riskManagementDetails
    div.pure-g.borderBottomLight.midPaddingTopBottom
        div.pure-u-1-2
            div.pure-g
                span.pure-u-3-4 Provide details of your checks
        div.pure-u-1-2
            +itemAndError(risk.riskManagementDetails, errors.riskManagementDetails, "riskManagementDetails")

div.pure-g.borderBottomLight.midPaddingTopBottom
    div.pure-u-1-2
        div.pure-g
            span.pure-u-3-4 Is the address proposed by the offender suitable?
    div.pure-u-1-2
        +itemAndError(risk.proposedAddressSuitable, errors.proposedAddressSuitable, "proposedAddressSuitable")
        if risk.proposedAddressSuitable === 'No'
            +itemAndError(risk.unsuitableReason, errors.unsuitableReason, "unsuitableReason")
