extends ../../layout
include ../../includes/errorBannerWithDetail

block content

    div.back-link-container.smallPaddingTop
        a#backBtn.link-back(href="/admin/") Back
    +errorBannerWithDetail(errors, [
        {field: 'newNomisId'},
        {field: 'newDeliusId'}
    ])

    h2.heading-large Add RO user

    form#reportingForm(method='POST')
        input(type="hidden" name="_csrf" value=csrfToken)

        div#user.pure-g
            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group
                        label.form-label(for="newNomisId") Nomis ID
                        input#newNomisId.form-control(name="newNomisId" type="text")

            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group
                        label.form-label(for="newDeliusId") Delius ID
                        input#newDeliusId.form-control(name="newDeliusId" type="text")

            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group
                        label.form-label(for="first") First name
                        input#first.form-control(name="first" type="text")

            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group
                        label.form-label(for="last") Last name
                        input#last.form-control(name="last" type="text")

            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group
                        label.form-label(for="organisation") Organisation
                        input#organisation.form-control(name="organisation" type="text")

            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group
                        label.form-label(for="jobRole") Job Role
                        input#jobRole.form-control(name="jobRole" type="text")

            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group
                        label.form-label(for="email") Email
                        input#email.form-control(name="email" type="text")

            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group
                        label.form-label(for="telephone") Telephone
                        input#telephone.form-control(name="telephone" type="text")


            div.pure-u-1.pure-u-md-2-5
                div.pure-u-1.pure-u-md-4-5
                    div.form-group.inline
                        div Verify Nomis user name
                        div.multiple-choice
                            input#verifyYes(type="radio" value="Yes" name="verify" checked)
                            label(for="verifyYes") Yes
                        div.multiple-choice
                            input#verifyNo(type="radio" value="No" name="verify")
                            label(for="verifyNo") No

        div.paddingBottom.smallPaddingTop
            div.pure-u-1.inlineButtons
                input#continueBtn.requiredButton.button.smallMarginTop(type="submit" value="Add user")
                a#backBtn.requiredButton.button.button-secondary.smallMarginTop(href="/admin/roUsers" role="button") Cancel

    hr
    include verifyNomis


block append scripts
    script(src="/public/javascripts/verifyNomisId.js?"+version)
