mixin startContinueView(task, path)
    - var unstarted = task === 'UNSTARTED'
    - var complete = task === 'DONE'
    a.taskListAction.center.button(class = complete ? 'button-secondary' : '', href=path)
        if unstarted
            | Start
        else if complete
            | View
        else
            | Continue


