.variationPanel {
    border: 0.40rem solid #1d70b8;
    background-color: #fff;
    overflow-wrap: break-word;
    padding: 2rem;
}

.variationPanel p {
    margin: 0 0 0.9375rem;
}

.variationPanel ul {
    list-style-type: disc;
    margin: 0 0 0.9375rem 1.25rem;
    padding: 0.50rem;
}

.variationPanel li {
    margin-bottom: 0.3125rem;
}

.variationPanel a {
    font-weight: 700;
    color: #1d70b8;
}

.variationPanel h2 {
    margin-top: 0;
    color: #0b0c0c;
    font-size: clamp(1.5rem, 2vw, 1.75rem);
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.icon-info {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    margin-right: 0.625rem;
    border-radius: 50%;
    background: #1d70b8;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.variationPanel-content {
    padding-left: 3rem;
}
