extends ../../layout

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/admin/") Back

  div.pure-g

    div.pure-u-1.largeMarginTop
      div.pure-u-1.pure-u-md-1-2.form-group
        input.front-end-control.form-control(type="text" id="listFilter" placeholder="Filter the list" title="Filter the list by text content")
      div.pure-u-1.pure-u-md-1-2.searchLink.alignRight
        a#addUserLink(href='/admin/mailboxes/add') Add mailbox

      h2.heading-medium #{heading}
        include mailboxesTable

block append scripts
  script(src="/public/javascripts/listFilter.js?" + version)
  script(src="/public/javascripts/jquery.tablesorter.min.js?" + version)
  script(src="/public/javascripts/listSort.js?" + version)
