extends ../layout

block content

    div.pure-g.pure-u-1
        include ../includes/back

        div.pure-u-1-2
            h2.heading-large Prisoner has withdrawn the address

            p Would you like to enter a new address?

            form(method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="nomisId" value=nomisId || '')
                div.smallPaddingTop.paddingBottom.largeMarginBottom
                    div.largePaddingBottom
                        div.form-group.inline.smallPaddingTop

                            div.multiple-choice
                                input#yes(type="radio" checked=data && data.decision === 'Yes' name="decision" value="Yes")
                                label(for="yes") Yes
                            div.multiple-choice
                                input#no(type="radio" checked=data && data.decision === 'No' name="decision" value="No")
                                label(for="no") No

                    include ../includes/formSubmit
