extends ../layout
include ../proposedAddress/includes/addressDetail

block content

  -var address = proposedAddress || {}

  div.pure-g.pure-u-1
    div.borderBottomLight
      include ../includes/back
      include ../includes/personalDetailsSummary

      h2.heading-large Proposed curfew address

      if address
        +addressDetail('curfew', address, {}, {})

    form(method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="bookingId" value=bookingId || '')
      div.pure-g.largePaddingBottom
        div.pure-u-1.pure-u-sm-5-12.pure-g
          div.form-group.inline.paddingTop

            h3.heading-medium Does the offender need to be sent to approved premises?

            div.multiple-choice
              input#approvedPremisesRequiredYes(type="radio" checked=data.required === 'Yes' name="required" value="Yes")
              label(for="approvedPremisesRequiredYes") Yes
            div.multiple-choice
              input#approvedPremisesRequiredNo(type="radio" checked=data.required === 'No' name="required" value="No")
              label(for="approvedPremisesRequiredNo") No


      include ../includes/formSubmit
