extends ../../layout

block content

    div.back-link-container.smallPaddingTop
        a#back.link-back(href="/admin/") Back

        h2.heading-large Batch process started
            h3.heading-large Please try not to run whilst this is running


