extends ../../layout

block content

    div.back-link-container.smallPaddingTop
        a#back.link-back(href="/admin/") Back

        h2.heading-large Licence migrated to CVL
            h3.heading-large Please check licence for Id #{licenceId} or check licence_migration_log


