div.pure-u-1.searchForm

    form#reportingForm(method='POST')
        input(type="hidden" name="_csrf" value=csrfToken)

        div.midPaddingBottom.padLeftRight15.paddingTop
            div.form-group.inline
                div.pure-u-4-5
                    label.form-label(for="searchTerm") Enter the offender's prison number. (You can search for more than one offender at the same time - you must leave a space or put a comma between each number.)
                div.pure-u-1-5
                div.pure-u-2-5
                    input.form-control(id="searchTerm" type="text" name="searchTerm")
                div.pure-u-1-5.padLeft15
                    input#searchButton.requiredButton.button(type="submit" value="Search")


