//- Read only licence view eg from caselist when case is with a different role
extends ../../layout

block content

  include ../../includes/back

  h1.heading-large Licence details
  include ../../taskList/prisonerDetails