extends ../layout

block content

    h1.heading-large Check the details

    div.grid-row.largeMarginBottom
        div.column-full
            if additionalConditions.length > 0
                include ./additionalConditions

            include ./dischargeAddress

            include ./reportingInstructions


    div#continueBtns.inlineButtons

        a.requiredButton.button(href="/licenceDetails/"+licenceId role="button") Continue
        a.requiredButton.button.button-secondary(href="/dashboard" role="button") Back to dashboard
