extends ../layout

include ./additionalConditions
block content

    h1.heading-large Licence details

    div.largeMarginBottom

        include ../taskList/prisonerDetails

        if licence.proposedAddress && licence.proposedAddress.curfewAddress
            include curfewAddress

        if licence.curfew && licence.curfew.curfewHours
            include curfewHours

        if licence.licenceConditions && licence.licenceConditions.length > 0
            h2.heading-medium.borderBottomLight Additional conditions
            +additionalConditions()

        if licence.risk && licence.risk.riskManagement
            include ./riskManagement

        if licence.reporting && licence.reporting.reportingInstructions
            include ./reportingInstructions

    include ../includes/formButtons
