extends ../layout

include ./additionalConditions
block content

    h1.heading-large Licence details

    div.largeMarginBottom

        include ../taskList/prisonerDetails

        if data.proposedAddress && data.proposedAddress.curfewAddress && data.proposedAddress.curfewAddress.preferred
            include curfewAddress

        if data.curfew && data.curfew.curfewHours
            include curfewHours

        if data.licenceConditions && data.licenceConditions.length > 0
            h2.heading-medium.borderBottomLight Additional conditions
            +additionalConditions()

        if data.risk && data.risk.riskManagement
            include ./riskManagement

        if data.reporting && data.reporting.reportingInstructions
            include ./reportingInstructions

    div.paddingBottom.smallPaddingTop
        div.pure-u-1.inlineButtons
            a#continueBtn.button.button-primary.smallMarginTop(href="/hdc/taskList/" + nomisId role="button")
                | Save and continue
            a#backBtn.requiredButton.button.button-secondary.smallMarginTop(href="/hdc/taskList/" + nomisId role="button") Return to task list
