extends ../layout

block content

    include ./licenceSummary

    div.paddingBottom.smallPaddingTop
        div.pure-u-1.inlineButtons
            a#continueBtn.button.button-primary.smallMarginTop(href="/hdc/taskList/" + nomisId role="button")
                | Save and continue
            a#backBtn.requiredButton.button.button-secondary.smallMarginTop(href="/hdc/taskList/" + nomisId role="button") Return to task list
