extends ../layout

block content

    h1.heading-large Check the details

    div.pure-g.largeMarginBottom
        div.pure-u-1
            if licence.additionalConditions && licence.additionalConditions.length > 0
                include ./additionalConditions

            if licence.dischargeAddress
                include ./dischargeAddress

            if licence.reportingInstructions
                include ./reportingInstructions


    div#continueBtns.pure-g.paddingBottom
        div.pure-u-1.inlineButtons
            if status === 'STARTED'
                a#continueBtn.requiredButton.button(href="/send/"+licence.nomisId role="button") Continue

            a#backBtn.requiredButton.button.button-secondary(href="/" role="button") Back to dashboard
