extends ../../layout
include ../../includes/errorBannerWithDetail

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/admin/") Back

  div.pure-g
    div.pure-u-1.largeMarginTop
      h2.heading-medium Download HDC cases sitting with Prison Case Admin

      form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken)

        div.pure-u-2-3.midPaddingBottom
          div.pure-g.u-paddingBottom
            input.requiredButton.button(text="Download" type="submit" value="Submit")
            div.pure-u-sm-5-12
      iframe(src="/admin/downloadCasesWithCA" style="display:none;visibility:hidden")
