extends ../../layout

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/admin/") Back


  h1.heading-large Probation Areas

  div.pure-g.smallPaddingTop
    div.pure-u-1.pure-u-sm-10-24
      ul
        each probationArea in probationAreas
          li
            a.link(href="/admin/functionalMailboxes/probationAreas/"+probationArea.code+"/ldus") #{probationArea.description} (#{probationArea.code})
