extends ../layout

block content
    h1#pageHeading.heading-large HDC eligible offenders

    if user.role === 'CA'
        include CATable

    if user.role === 'RO'
        include ROTable

    if user.role === 'DM'
        include DMTable
