extends ../layout

block content

    h1.heading-large Reporting instructions
    p Enter the details of where the licensee should report

    form#reportingForm(method='POST')
        div.form-group
            div#address.borderBottom.largeMarginBottom.midPaddingBottom
                div.form-group
                    label.form-label(for="name") Name of person
                    input#name.form-control(name="name" type="text")

                div.form-group
                    label.form-label(for="building") Building and street
                    input#building.midMarginBottom.form-control(name="address1" type="text")
                    input#street.form-control.block(name="address2" type="text")

                div.form-group
                    label.form-label(for="town") Town or city
                    input#town.form-control(name="address3" type="text")

                div.form-group
                    label.form-label(for="postcode") Postcode
                    input#postcode.form-control.small(name="postCode" type="text")

                div.form-group
                    label.form-label(for="telephone") Telephone
                    input#telephone.form-control.small(name="telephone" type="text")

            div#dateTime
                div.form-group
                    label.form-label(for="date") Date
                    input#date.form-control.small(name="date" type="text")

                div.form-group
                    label.form-label(for="time") Time
                    div.inline
                        input#time.form-control.small(name="time" type="text")

        div#continueBtns.inlineButtons
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="nomisId" value=nomisId)
            input.requiredButton.button(type="submit" value="Continue")
            a.requiredButton.button.button-secondary(href="/" role="button") Back to dashboard
