doctype html
html(lang="en")
  head
    link(href= "http://localhost:3001/static/styles.css", media="print", rel="stylesheet", type="text/css")

  body

    block content

      div
        h1.myStyle= message