extends ../layout

block content

    - var crdTimeValue = data ? data.decision : null;

    div.pure-g.pure-u-1
        include ../includes/back
        include ../includes/personalDetailsSummary
        include ../includes/errorBanner

        div.pure-u-1-2
            h2.heading-large Are there less than 4 weeks until the offender's conditional release date?

    if errorObject.decision
        p.error-message Please select an answer
    form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="nomisId" value=nomisId || '')
        div.smallPaddingTop.paddingBottom.largeMarginBottom
            div.largePaddingBottom
                div.form-group.inline.smallPaddingTop.pure-u-1-2

                    div.multiple-choice
                        input#crdTimeYes(type="radio" checked=crdTimeValue === 'Yes' name="decision" value="Yes")
                        label(for="crdTimeYes") Yes
                    div.multiple-choice
                        input#crdTimeNo(type="radio" checked=crdTimeValue === 'No' name="decision" value="No")
                        label(for="crdTimeNo") No

            div.paddingBottom
                div.pure-u-1.inlineButtons.smallPaddingTop
                    input#continueBtn.requiredButton.button(type="submit" value="Save and continue")
                    a#backBtn.requiredButton.button.button-secondary(href="/hdc/taskList/" + nomisId role="button") Return to tasklist
