extends ../layout
include ../includes/errorBannerWithDetail

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/") Back

  div.pure-g
    div.pure-u-1.largeMarginTop
      h1.heading-large People who are ready for probation checks
      
      h2.heading-medium No probation practitioner allocated

      p Download an up-to-date list of people who:

      ul.list-bullet
        li have provided a residential address or CAS area 
        li have not been allocated to a probation practitioner

      div.pure-u-1.midMarginTop
        a(href="/hdc/people-ready-for-probation-checks/download-unallocated" type="submit" value="Download CSV").button Download CSV

      h2.heading-medium Waiting to be sent to allocated probation practitioner

      p Download an up-to-date list of people who:

      ul.list-bullet 
        li have provided a residential address or CAS area
        li have been allocated to a probation practitioner 
        li still need to be sent to the practitioner so checks can be completed

      div.pure-u-1.midMarginTop.largePaddingBottom
        a(href="/hdc/people-ready-for-probation-checks/download-allocated" type="submit" value="Download CSV").button Download CSV
