extends ../layout
include ../includes/errorBannerWithDetail

block content

  div.back-link-container.smallPaddingTop
    a#back.link-back(href="/") Back

  div.pure-g
    div.pure-u-1.largeMarginTop
      h2.heading-medium Download licences Requiring COM Assignment

      form(method="post")
        input(type="hidden" name="_csrf" value=csrfToken)

        div.pure-u-2-3.midPaddingBottom
          div.pure-g.u-paddingBottom
            input.requiredButton.button(text="Download" type="submit")
            div.pure-u-sm-5-12
      iframe(src="/licencesRequiringComAssignmentReport" style="display:none;visibility:hidden")
