div.form-group.grid-row
    div.column-one-half
        label(for='appointmentDate') Date
        input(type='text' name='appointmentDate' id='appointmentDate' class='form-control')
    div.column-one-half
        label(for='appointmentTime') Time
        input(type='text' name='appointmentTime' id='appointmentTime' class='form-control')
