div.form-group.grid-row
    div.column-one-half
        label(for='confinedTo') To
        input(type='text' name='confinedTo' id='confinedTo' class='form-control')
    div.column-one-half
        label(for='confinedFrom') From
        input(type='text' name='confinedFrom' id='confinedFrom' class='form-control')

div.form-group.inline
    div.multiple-choice
        input(id='confinedReviewWeekly' type='radio' name='confinedReviewFrequency' value='Weekly')
        label(for='confinedReviewWeekly') Weekly

    div.multiple-choice
        input(id='confinedReviewMonthly' type='radio' name='confinedReviewFrequency' value='Monthly')
        label(for='confinedReviewMonthly') Monthly

    div.multiple-choice
        input(id='confinedReviewOther' type='radio' name='confinedReviewFrequency' value='Other')
        label(for='confinedReviewOther') Other
