div.inlineFormItem
    label(for='cashQuantity') Quantity
    input(type='number' name='cashQuantity' id='cashQuantity' class='form-control' value=condition.USER_SUBMISSION && condition.USER_SUBMISSION.cashQuantity)
