label(for='noSpecificItems') Items
textarea(name='noSpecificItems' id='noSpecificItems' class='form-control' rows='2')
    if condition.USER_SUBMISSION && condition.USER_SUBMISSION.noSpecificItems
        | #{condition.USER_SUBMISSION.noSpecificItems}
