label(for='notInSightOf') Restricted places
textarea(name='notInSightOf' id='notInSightOf' class='form-control' rows='2')
    if condition.USER_SUBMISSION && condition.USER_SUBMISSION.notInSightOf
        | #{condition.USER_SUBMISSION.notInSightOf}
