div.smallPaddingBottom
    label(for='reportingAddress') Approved premises / police stations address
    textarea(name='reportingAddress' id='reportingAddress' class='form-control' rows='3')

div.pure-g.smallPaddingBottom
    div.pure-u-6-12
        label(for='reportingTime') At (time)
        input(type='text' name='reportingTime' id='reportingTime' class='form-control')

    div.pure-u-6-12
        div.pure-g.lineMarginTop
            p.center.pure-u-1-6 or
            div.pure-u-6-12
                div.multiple-choice
                  input(id='reportingDaily' name='reportingDaily' type='checkbox' value='yes')
                  label(for='reportingDaily') Daily


div.inline
    div.multiple-choice
        input(id='reportingWeekly' type='radio' name='reportingFrequency' value='Weekly')
        label(for='reportingWeekly') Weekly

    div.multiple-choice
        input(id='reportingMonthly' type='radio' name='reportingFrequency' value='Monthly')
        label(for='reportingMonthly') Monthly

    div.multiple-choice
        input(id='reportingOther' type='radio' name='reportingFrequency' value='Other')
        label(for='reportingOther') Other
