div.pure-u-2-3
    h2.heading-large.midPaddingBottom Submit to Responsible Officer
    p.lede The proposed address information is ready to be submitted to the RO or you can return to your dashboard and submit it later.

div#continueBtns.pure-g.paddingBottom
    div.pure-u-1
        form#acceptanceForm(method='POST')
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="nomisId" value=nomisId)
            input(type="hidden" name="sender" value="CA")
            input(type="hidden" name="receiver" value="RO")
            input#continueBtn.requiredButton.button.midMarginBottom.button-start(type="submit" value="Submit")
        a#backBtn.requiredButton.button.button-secondary(href="/hdc/taskList/" + nomisId role="button") Return to task list
