extends ../layout

block content

    div.pure-g
        div.pure-u-1
            include ../includes/back
            include ../includes/personalDetailsSummary

    div.largePaddingBottom
        if user.role == 'CA'
            if allowedTransitions.caToDm
                include CAtoDM
            else if allowedTransitions.caToDmRefusal
                include CAtoDMRefusal
            else
                include CAtoRO

        else if user.role == 'RO'
            include ROtoCA

        else if user.role == 'DM'
            if allowedTransitions.dmToCaReturn
                include DMtoCAReturn
            else
                include DM
