extends ../layout

block content

    div.pure-g
        div.pure-u-1
            include ../includes/back
            include ../includes/personalDetailsSummary

    div.largePaddingBottom
        if user.role == 'CA'
            if stage == 'PROCESSING_CA'
                include CAtoDM.pug
            else if licenceStatus.decisions.insufficientTimeStop
                include CAtoDMRefusal.pug
            else
                include CAtoRO.pug

        else if user.role == 'RO'
            include ROtoCA.pug

        else if user.role == 'DM'
            include DM.pug
