extends ../layout

block content

    div.pure-g
        div.pure-u-1
            div.back-link-container.smallPaddingTop
                a.link-back(href="javascript: window.history.back();") Back

    div.largePaddingBottom
        if user.role == 'CA'
            if status == 'RO-CA'
                include CAtoDM.pug
            else
                include CAtoRO.pug

        else if user.role == 'RO'
            include ROtoCA.pug

        else if user.role == 'DM'
            include DM.pug
