extends ../layout

block content

    div.pure-g
        div.pure-u-1
            include ../includes/back
            include ../includes/personalDetailsSummary

    div.largePaddingBottom

        if transitionType === 'caToDm'
            include CAtoDM.pug

        else if transitionType === 'caToDmRefusal'
            include CAtoDMRefusal.pug

        else if transitionType === 'caToRo'
            include CAtoRO.pug

        else if transitionType === 'roToCa'
            include ROtoCA.pug

        else if transitionType === 'dmToCa'
            include DM.pug
