extends ../layout

block content

    h1.heading-large Send for approval
    p The licence is ready to be sent for approval or you can return to your dashboard and send it later.

    div#continueBtns.inlineButtons
        form#acceptanceForm(method='POST', action='/send/pm')
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="nomisId" value=nomisId)
            input#continueBtn.requiredButton.button(type="submit" value="Send")
        a#backBtn.requiredButton.button.button-secondary(href="/" role="button") Back to dashboard
