extends ./templates/roToCaTemplate

block form

  form#acceptanceForm(method='POST')
    input(type="hidden" name="_csrf" value=csrfToken)
    input(type="hidden" name="bookingId" value=bookingId)
    input(type="hidden" name="transitionType" value='roToCaAddressRejected')
    if submissionTarget && submissionTarget.premise
      input(type="hidden" name="submissionTarget" value=submissionTarget.premise)

    div.pure-u-1.inlineButtons.paddingBottom
      input#continueBtn.requiredButton.button.button-start.midMarginBottom(type="submit" value="Submit")
      a#backBtn.requiredButton.button.button-secondary.button-start-height(href="/hdc/taskList/" + bookingId role="button") Cancel
