div.pure-g
    div.pure-u-2-3
        h2.heading-large.midPaddingBottom Send to the prison OMU team
        p.lede The HDC licence information is ready to be sent to the OMU team or you can return to the tasklist and submit it later.

div#continueBtns.pure-g.paddingBottom
    div.pure-u-1
        form#acceptanceForm(method='POST')
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="nomisId" value=nomisId)
            input(type="hidden" name="sender" value="RO")
            input(type="hidden" name="receiver" value="CA")
            input#continueBtn.requiredButton.button.midMarginBottom.button-start(type="submit" value="Submit")
        a#backBtn.requiredButton.button.button-secondary(href="/hdc/taskList/" + nomisId role="button") Return to task list
