extends ./templates/roToCaTemplate

block form

    form#acceptanceForm(method='POST')
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="nomisId" value=nomisId)
        input(type="hidden" name="transitionType" value='roToCaAddressRejected')
        if submissionTarget && submissionTarget.premise
            input(type="hidden" name="submissionTarget" value=submissionTarget.premise)
        include includes/sendButtons
